{
  "openapi": "3.0.0",
  "info": {
    "title": "atoovis-server",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.otrex.site/"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/buyer/register": {
      "post": {
        "description": "",
        "tags": [
          "Register"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Dashawn86@hotmail.com",
                "password": "DWqJ7qnmyK7Llcr",
                "firstName": "Dashawn",
                "lastName": "Wisoky",
                "gender": "male"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZDljZjhlNDEwNjE0YjVmZmUyYTIiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6InR2ZmVEcVNxTDRHWUpycWx2eFRSbkxoY09JSDBKZlpaY2l1eCIsImlhdCI6MTY1NjE1MDQ3OSwiZXhwIjoxNjU2MjM2ODc5fQ.6lf7P4RtE7isYXx4B9SNDpAQ-yNUxLXBqNtgnwiPndQ"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/register": {
      "post": {
        "description": "",
        "tags": [
          "Register"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sellerDetails": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      },
                      "phoneNumber": {
                        "type": "string"
                      },
                      "fullName": {
                        "type": "string"
                      }
                    }
                  },
                  "businessDetails": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "cacNumber": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "lga": {
                        "type": "string"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "lat": {
                            "type": "number"
                          },
                          "long": {
                            "type": "number"
                          },
                          "label": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "paymentDetails": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string"
                      },
                      "bank": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "payoutFrequency": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "example": {
                "sellerDetails": {
                  "email": "Jazmin_Schmidt97@gmail.com",
                  "password": "BbG6X4g2UClX7Lp",
                  "phoneNumber": "+2345678765456",
                  "fullName": "Rosalee Gerhold"
                },
                "businessDetails": {
                  "type": "Inverse web-enabled monitoring",
                  "name": "Persistent upward-trending functionalities",
                  "cacNumber": "Synchronised contextually-based contingency",
                  "state": "Colorado",
                  "lga": "Alabama",
                  "address": {
                    "lat": 324.43,
                    "long": 2424.42,
                    "label": "United Arab Emirates"
                  }
                },
                "paymentDetails": {
                  "accountNumber": "456789000987",
                  "bank": "Reduced global monitoring",
                  "accountName": "Theo Jaskolski",
                  "payoutFrequency": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZDlkMDhlNDEwNjE0YjVmZmUyYTkiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6IjNKMHNuVjZScERsbGQ2UUttWlVxT3hEdERSQll2QkI2ckt4NyIsImlhdCI6MTY1NjE1MDQ4MCwiZXhwIjoxNjU2MjM2ODgwfQ.DX_7C6cevPGrfQPcxfjn4neyipzOi2GQfUaxjyalCuM"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Dashawn86@hotmail.com",
                "password": "DWqJ7qnmyK7Llcr",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            },
                            "verifiedEmailAt": {
                              "type": "string"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T09:48:01.582Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b6d9cf8e410614b5ffe2a2",
                      "firstName": "Dashawn",
                      "lastName": "Wisoky",
                      "email": "Dashawn86@hotmail.com",
                      "updatedAt": "2022-06-25T10:47:59+01:00",
                      "createdAt": "2022-06-25T10:47:59+01:00",
                      "__v": 0,
                      "verifiedEmailAt": "2022-06-25T09:48:01.344Z"
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZDljZjhlNDEwNjE0YjVmZmUyYTIiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJwR0RpdElMdVlzeFRMTUZNVXhHeFJ0dWFSQzNvZUFXeGl6THkiLCJpYXQiOjE2NTYxNTA0ODEsImV4cCI6MTY1NjIzNjg4MX0.jr2izjcQxjHr2kEzRnGKFnvF3of-DPtfar8DtfeegHM"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Dashawn86@hotmail.com",
                "password": "DWqJ7qnmyK7Llcr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": false,
                      "lastLoggedIn": "2022-06-25T09:48:00.536Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b6d9cf8e410614b5ffe2a2",
                      "firstName": "Dashawn",
                      "lastName": "Wisoky",
                      "email": "Dashawn86@hotmail.com",
                      "updatedAt": "2022-06-25T10:47:59+01:00",
                      "createdAt": "2022-06-25T10:47:59+01:00",
                      "__v": 0
                    },
                    "type": "email_verification",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZDljZjhlNDEwNjE0YjVmZmUyYTIiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6IjJ4Q3o1Y29ZTlZwR1pXM1ptY1VIREJoSGpGa1NGM0dncjBMOCIsImlhdCI6MTY1NjE1MDQ4MCwiZXhwIjoxNjU2MjM2ODgwfQ.9fVGuTTgxVBjTkVddeDzzkkraFQMpb3dfc6Wb5FF3QM"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Jena91@hotmail.com",
                "password": "YrJ4iIwSVtRV5Je"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T09:48:00.952Z",
                      "type": "admin",
                      "isActive": false,
                      "isSuperAdmin": true,
                      "_id": "62b6d9d08e410614b5ffe2b9",
                      "email": "Jena91@hotmail.com",
                      "updatedAt": "2022-06-25T10:48:00+01:00",
                      "createdAt": "2022-06-25T10:48:00+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZDlkMDhlNDEwNjE0YjVmZmUyYjkiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJJaTVmNEc3N21OS3RBM0hqRk1DV0ZiaWthb0VTZ2RlVXBHT24iLCJpYXQiOjE2NTYxNTA0ODAsImV4cCI6MTY1NjIzNjg4MH0.SQgO7qVF2X51GEReszQki7S-FCaxpLMhe8Z5VEJlhEE"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Jazmin_Schmidt97@gmail.com",
                "password": "BbG6X4g2UClX7Lp"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T09:48:01.100Z",
                      "type": "business",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b6d9d08e410614b5ffe2a9",
                      "phoneNumber": "+2345678765456",
                      "firstName": "Rosalee",
                      "lastName": "Gerhold",
                      "email": "Jazmin_Schmidt97@gmail.com",
                      "updatedAt": "2022-06-25T10:48:00+01:00",
                      "createdAt": "2022-06-25T10:48:00+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZDlkMDhlNDEwNjE0YjVmZmUyYTkiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJiV2hhNjFmS3NIdFJuMXp2UTk4eklTSnIzMUs5T2ZVQ3UwQ0giLCJpYXQiOjE2NTYxNTA0ODEsImV4cCI6MTY1NjIzNjg4MX0.biFdwapRl1eOFqxtafCygntkOH-0YC7OP_ddTUcZMkY"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify-email": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "account has been verified",
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZDljZjhlNDEwNjE0YjVmZmUyYTIiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiI2NFFwR1c3Nm1iUWZqdXZUQ2VubzVXMWR1cVVQVVNFak5wcVgiLCJpYXQiOjE2NTYxNTA0ODEsImV4cCI6MTY1NjIzNjg4MX0.KhcBvL90sA3Wf0ToltvPuTLPWLnSmM1u0XOVFm3K9KY"
                }
              }
            }
          }
        }
      }
    },
    "/v1/forgot-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Dashawn86@hotmail.com",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "your reset code has been sent to you mail. please continue to reset your password",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZDljZjhlNDEwNjE0YjVmZmUyYTIiLCJmbGFnIjoicGFzc3dvcmRfcmVzZXQiLCJjb3VudGVyIjoieFA3Q0lPeUZGdGZ0YldyZU04MzlpczhIb3Fpd1lCR3NMckxRIiwiaWF0IjoxNjU2MTUwNDgxLCJleHAiOjE2NTYyMzY4ODF9.765DkvJjauklUbevumkxrdVn6jNbsGqep4vs9rolbvY"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reset-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "confirmPassword": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345",
                "confirmPassword": "12345rrr",
                "password": "12345rrr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password reset successful!!"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart": {
      "put": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "quantity": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "productId": "62b6d9ce8e410614b5ffe265",
                "quantity": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been added to cart successfully",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62b6d9d28e410614b5ffe2dd",
                      "createdAt": "Sat Jun 25 2022 10:48:02 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Sat Jun 25 2022 10:48:02 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62b6d9ce8e410614b5ffe265",
                        "creatorId": "62b6d9ce8e410614b5ffe262",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "necessitatibus possimus voluptate",
                        "description": "Quam doloribus atque ipsum velit neque qui. Corporis eos accusantium et voluptates. Repudiandae consequatur veritatis iure.",
                        "category": {
                          "_id": "62b6d306dc2694112f841a5e",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62b6d9d28e410614b5ffe2dd",
                      "createdAt": "Sat Jun 25 2022 10:48:02 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Sat Jun 25 2022 10:48:02 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62b6d9ce8e410614b5ffe265",
                        "creatorId": "62b6d9ce8e410614b5ffe262",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "necessitatibus possimus voluptate",
                        "description": "Quam doloribus atque ipsum velit neque qui. Corporis eos accusantium et voluptates. Repudiandae consequatur veritatis iure.",
                        "category": {
                          "_id": "62b6d306dc2694112f841a5e",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart/checkout": {
      "post": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "authorizationUrl": {
                          "type": "string"
                        },
                        "accessCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "authorizationUrl": "https://checkout.paystack.com/zyakw6v8tjbhtv0",
                    "accessCode": "zyakw6v8tjbhtv0",
                    "transactionId": "62b6d9d28e410614b5ffe2fb"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCost": {
                          "type": "number"
                        },
                        "totalDistanceCost": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "totalCost": 0.5,
                    "totalDistanceCost": 151746.0250479104
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/order/stats": {
      "get": {
        "description": "",
        "tags": [
          "Cart/Vendor"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productsSold": {
                          "type": "number"
                        },
                        "cancelledOrders": {
                          "type": "number"
                        },
                        "incompleteOrders": {
                          "type": "number"
                        },
                        "pendingOrders": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "productsSold": 0,
                    "cancelledOrders": 0,
                    "incompleteOrders": 0,
                    "pendingOrders": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/categories": {
      "get": {
        "description": "",
        "tags": [
          "Categories"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "62b6d306dc2694112f841a5e",
                      "name": "Food",
                      "__v": 0
                    },
                    {
                      "_id": "62b6d306dc2694112f841a62",
                      "name": "Phones",
                      "__v": 0
                    },
                    {
                      "_id": "62b6d306dc2694112f841a60",
                      "name": "Clothings",
                      "__v": 0
                    },
                    {
                      "_id": "62b6d306dc2694112f841a64",
                      "name": "Livestock",
                      "__v": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/info/categories": {
      "post": {
        "description": "",
        "tags": [
          "Categories/Admin"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "name": "ut molestias maxime"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "_id": "62b6d9d48e410614b5ffe318",
                    "name": "ut molestias maxime",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products": {
      "post": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "expiryDate": {
                    "type": "object",
                    "properties": {}
                  },
                  "minimumOrder": {
                    "type": "number"
                  },
                  "handlingFee": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "imageUrl": "http://placeimg.com/640/480",
                "name": "Intelligent Concrete Table",
                "categoryId": "62b6d306dc2694112f841a5e",
                "price": 500,
                "weight": 30,
                "quantity": 10,
                "expiryDate": "2022-06-25T09:48:04.913Z",
                "minimumOrder": 0,
                "handlingFee": 10,
                "description": "Eos est hic consequatur non quasi suscipit et. Odio illum blanditiis doloribus et et sint et. Exercitationem qui quia vitae explicabo ut sit cum et nisi. Molestiae odio non eum voluptatem dolores cum. Voluptate eos et sint libero sequi nisi consequatur aut."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {}
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "pending",
                    "_id": "62b6d9d48e410614b5ffe31e",
                    "name": "Intelligent Concrete Table",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-06-25T09:48:04.913Z",
                    "description": "Eos est hic consequatur non quasi suscipit et. Odio illum blanditiis doloribus et et sint et. Exercitationem qui quia vitae explicabo ut sit cum et nisi. Molestiae odio non eum voluptatem dolores cum. Voluptate eos et sint libero sequi nisi consequatur aut.",
                    "feedback": [],
                    "createdAt": "Sat Jun 25 2022 10:48:04 GMT+0100 (West Africa Standard Time)",
                    "updatedAt": "2022-06-25T10:48:04+01:00",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "reasonForDisapproval": {}
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "disapproved",
                      "_id": "62b6d9d48e410614b5ffe31e",
                      "name": "Intelligent Concrete Table",
                      "imageUrl": "http://placeimg.com/640/480",
                      "expiryDate": "2022-06-25T09:48:04.913Z",
                      "description": "Eos est hic consequatur non quasi suscipit et. Odio illum blanditiis doloribus et et sint et. Exercitationem qui quia vitae explicabo ut sit cum et nisi. Molestiae odio non eum voluptatem dolores cum. Voluptate eos et sint libero sequi nisi consequatur aut.",
                      "feedback": [
                        {
                          "_id": "62b6d9d58e410614b5ffe32c",
                          "customerId": "62b6d9ce8e410614b5ffe273",
                          "comment": "Quasi sint sunt doloremque quos. Aperiam corporis fugiat et. Perferendis quibusdam eos placeat odit officia minus fugit voluptatibus. Quasi nobis ut asperiores eius rerum quae. Accusantium praesentium autem temporibus voluptatibus consectetur aut ut ab. Natus autem voluptas eos nobis ut qui voluptatem dolorem.",
                          "rating": 4,
                          "updatedAt": "2022-06-25T10:48:05+01:00",
                          "createdAt": "2022-06-25T10:48:05+01:00"
                        }
                      ],
                      "createdAt": "Sat Jun 25 2022 10:48:04 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T10:48:05+01:00",
                      "__v": 1,
                      "reasonForDisapproval": null
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/approve": {
      "post": {
        "description": "",
        "tags": [
          "Product/Admin"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/disapprove": {
      "post": {
        "description": "",
        "tags": [
          "Product/Admin"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "reason": "this is because it is the best"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/feedback": {
      "post": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "comment": "Quasi sint sunt doloremque quos. Aperiam corporis fugiat et. Perferendis quibusdam eos placeat odit officia minus fugit voluptatibus. Quasi nobis ut asperiores eius rerum quae. Accusantium praesentium autem temporibus voluptatibus consectetur aut ut ab. Natus autem voluptas eos nobis ut qui voluptatem dolorem.",
                "rating": 4
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "feedback added successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/like": {
      "post": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been liked successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products/{productId}": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "creatorId": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "customerId": {
                                "type": "string"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "rating": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        },
                        "reasonForDisapproval": {}
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "disapproved",
                    "_id": "62b6d9d48e410614b5ffe31e",
                    "name": "Intelligent Concrete Table",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-06-25T09:48:04.913Z",
                    "description": "Eos est hic consequatur non quasi suscipit et. Odio illum blanditiis doloribus et et sint et. Exercitationem qui quia vitae explicabo ut sit cum et nisi. Molestiae odio non eum voluptatem dolores cum. Voluptate eos et sint libero sequi nisi consequatur aut.",
                    "creatorId": "62b6d9ce8e410614b5ffe26d",
                    "feedback": [
                      {
                        "_id": "62b6d9d58e410614b5ffe32c",
                        "customerId": "62b6d9ce8e410614b5ffe273",
                        "comment": "Quasi sint sunt doloremque quos. Aperiam corporis fugiat et. Perferendis quibusdam eos placeat odit officia minus fugit voluptatibus. Quasi nobis ut asperiores eius rerum quae. Accusantium praesentium autem temporibus voluptatibus consectetur aut ut ab. Natus autem voluptas eos nobis ut qui voluptatem dolorem.",
                        "rating": 4,
                        "updatedAt": "2022-06-25T10:48:05+01:00",
                        "createdAt": "2022-06-25T10:48:05+01:00"
                      }
                    ],
                    "createdAt": "Sat Jun 25 2022 10:48:04 GMT+0100 (West Africa Standard Time)",
                    "updatedAt": "2022-06-25T10:48:05+01:00",
                    "__v": 1,
                    "reasonForDisapproval": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6d9ce8e410614b5ffe266",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "sint perspiciatis distinctio",
                      "categoryId": "62b6d306dc2694112f841a5e",
                      "expiryDate": "2022-06-25T09:47:58.268Z",
                      "description": "Assumenda qui sed consequatur id atque voluptas quas. Sunt fuga quo debitis libero aut. Deleniti nesciunt autem illum. Pariatur dolore qui voluptates autem ut asperiores et quis molestias. Aperiam nam dolores aperiam harum. Qui sed vero sint voluptas necessitatibus enim enim.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 10:47:58 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T10:47:58+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6d9ce8e410614b5ffe265",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "necessitatibus possimus voluptate",
                      "categoryId": "62b6d306dc2694112f841a5e",
                      "expiryDate": "2022-06-25T09:47:58.268Z",
                      "description": "Quam doloribus atque ipsum velit neque qui. Corporis eos accusantium et voluptates. Repudiandae consequatur veritatis iure.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 10:47:58 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T10:47:58+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6d9cf8e410614b5ffe28d",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "vitae ratione quas",
                      "categoryId": "62b6d306dc2694112f841a5e",
                      "expiryDate": "2022-06-25T09:47:59.140Z",
                      "description": "Molestias delectus debitis sint atque facere. Quo sit mollitia. Occaecati doloribus non repudiandae quam nobis recusandae possimus.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 10:47:59 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T10:47:59+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6d9cf8e410614b5ffe28c",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "eum tempore qui",
                      "categoryId": "62b6d306dc2694112f841a5e",
                      "expiryDate": "2022-06-25T09:47:59.140Z",
                      "description": "Repudiandae neque minima minima et aspernatur dolores ad qui. Enim dolorum qui itaque est in aperiam sint recusandae. Harum eaque officia nemo consequuntur dolore natus est ad quidem. Qui et sit corporis ad est. Distinctio fugiat nam adipisci architecto ut. Voluptatibus eligendi ullam voluptatem.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 10:47:59 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T10:47:59+01:00",
                      "__v": 0
                    }
                  ],
                  "pageData": {
                    "total": 4,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/favorites": {
      "get": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "_id": "62b6d9d48e410614b5ffe31e",
                      "name": "Intelligent Concrete Table",
                      "imageUrl": "http://placeimg.com/640/480",
                      "description": "Eos est hic consequatur non quasi suscipit et. Odio illum blanditiis doloribus et et sint et. Exercitationem qui quia vitae explicabo ut sit cum et nisi. Molestiae odio non eum voluptatem dolores cum. Voluptate eos et sint libero sequi nisi consequatur aut.",
                      "feedback": [
                        {
                          "_id": "62b6d9d58e410614b5ffe32c",
                          "customerId": "62b6d9ce8e410614b5ffe273",
                          "comment": "Quasi sint sunt doloremque quos. Aperiam corporis fugiat et. Perferendis quibusdam eos placeat odit officia minus fugit voluptatibus. Quasi nobis ut asperiores eius rerum quae. Accusantium praesentium autem temporibus voluptatibus consectetur aut ut ab. Natus autem voluptas eos nobis ut qui voluptatem dolorem.",
                          "rating": 4,
                          "updatedAt": "2022-06-25T10:48:05+01:00",
                          "createdAt": "2022-06-25T10:48:05+01:00"
                        }
                      ]
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products/feedback": {
      "get": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [],
                  "pageData": {
                    "total": 0,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/categories/{categoryId}/products?page=1&limit=20": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6d9ce8e410614b5ffe266",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "sint perspiciatis distinctio",
                      "categoryId": "62b6d306dc2694112f841a5e",
                      "expiryDate": "2022-06-25T09:47:58.268Z",
                      "description": "Assumenda qui sed consequatur id atque voluptas quas. Sunt fuga quo debitis libero aut. Deleniti nesciunt autem illum. Pariatur dolore qui voluptates autem ut asperiores et quis molestias. Aperiam nam dolores aperiam harum. Qui sed vero sint voluptas necessitatibus enim enim.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 10:47:58 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T10:47:58+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6d9ce8e410614b5ffe265",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "necessitatibus possimus voluptate",
                      "categoryId": "62b6d306dc2694112f841a5e",
                      "expiryDate": "2022-06-25T09:47:58.268Z",
                      "description": "Quam doloribus atque ipsum velit neque qui. Corporis eos accusantium et voluptates. Repudiandae consequatur veritatis iure.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 10:47:58 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T10:47:58+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6d9cf8e410614b5ffe28d",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "vitae ratione quas",
                      "categoryId": "62b6d306dc2694112f841a5e",
                      "expiryDate": "2022-06-25T09:47:59.140Z",
                      "description": "Molestias delectus debitis sint atque facere. Quo sit mollitia. Occaecati doloribus non repudiandae quam nobis recusandae possimus.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 10:47:59 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T10:47:59+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6d9cf8e410614b5ffe28c",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "eum tempore qui",
                      "categoryId": "62b6d306dc2694112f841a5e",
                      "expiryDate": "2022-06-25T09:47:59.140Z",
                      "description": "Repudiandae neque minima minima et aspernatur dolores ad qui. Enim dolorum qui itaque est in aperiam sint recusandae. Harum eaque officia nemo consequuntur dolore natus est ad quidem. Qui et sit corporis ad est. Distinctio fugiat nam adipisci architecto ut. Voluptatibus eligendi ullam voluptatem.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 10:47:59 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T10:47:59+01:00",
                      "__v": 0
                    }
                  ],
                  "pageData": {
                    "total": 4,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/users/businesses/search": {
      "get": {
        "description": "",
        "tags": [
          "Admin/Search"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "accountId": {
                            "type": "string"
                          },
                          "address": {
[...]
