{
  "openapi": "3.0.0",
  "info": {
    "title": "atoovis-server",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.otrex.site/"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/buyer/register": {
      "post": {
        "description": "",
        "tags": ["Register"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Garland_Schoen@hotmail.com",
                "password": "RZQ8YMIg6m8AaLS",
                "firstName": "Dayne",
                "lastName": "Nolan",
                "gender": "male"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MGEzMDk0NDQ1YjJmYzUyMjU2YjMiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6IlNERld0YjA1YTVlancxbkhiSUxSbHpwbW1JYk9rcWhDR2R6byIsImlhdCI6MTY1NjE2Mjg2NCwiZXhwIjoxNjU2MjQ5MjY0fQ.x9ENOVle6zCNz0_K9rOwKXQNJlGF67FciHdPc7e7tGg"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/register": {
      "post": {
        "description": "",
        "tags": ["Register"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sellerDetails": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      },
                      "phoneNumber": {
                        "type": "string"
                      },
                      "fullName": {
                        "type": "string"
                      }
                    }
                  },
                  "businessDetails": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "cacNumber": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "lga": {
                        "type": "string"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "lat": {
                            "type": "number"
                          },
                          "long": {
                            "type": "number"
                          },
                          "label": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "paymentDetails": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string"
                      },
                      "bank": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "payoutFrequency": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "example": {
                "sellerDetails": {
                  "email": "Amie.Carroll@hotmail.com",
                  "password": "_LGUJDsAtGv7QU6",
                  "phoneNumber": "+2345678765456",
                  "fullName": "Fleta Cummerata"
                },
                "businessDetails": {
                  "type": "Monitored static moderator",
                  "name": "Cloned object-oriented open system",
                  "cacNumber": "Profound stable circuit",
                  "state": "Tennessee",
                  "lga": "Nevada",
                  "address": {
                    "lat": 324.43,
                    "long": 2424.42,
                    "label": "Republic of Korea"
                  }
                },
                "paymentDetails": {
                  "accountNumber": "456789000987",
                  "bank": "Quality-focused content-based local area network",
                  "accountName": "Robert Sipes",
                  "payoutFrequency": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MGEzMDk0NDQ1YjJmYzUyMjU2YmEiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6InFGQ1dIazZxUm1TNks4UUFtdzd0aVFlUFBxbTRBSVhwRDlTTSIsImlhdCI6MTY1NjE2Mjg2NCwiZXhwIjoxNjU2MjQ5MjY0fQ.hknWOqAo2JFvVKUPhRX-y3gMaasLpKR-L1aWpvz0Zzg"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "description": "",
        "tags": ["Login"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Garland_Schoen@hotmail.com",
                "password": "RZQ8YMIg6m8AaLS",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            },
                            "verifiedEmailAt": {
                              "type": "string"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T13:14:25.405Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b70a3094445b2fc52256b3",
                      "firstName": "Dayne",
                      "lastName": "Nolan",
                      "email": "Garland_Schoen@hotmail.com",
                      "updatedAt": "2022-06-25T14:14:24+01:00",
                      "createdAt": "2022-06-25T14:14:24+01:00",
                      "__v": 0,
                      "verifiedEmailAt": "2022-06-25T13:14:25.273Z"
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MGEzMDk0NDQ1YjJmYzUyMjU2YjMiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJ0R1lRYWZydFhlSjh3MDlDUjNCT2hoYTk5RjRRNjV0WG1YeFIiLCJpYXQiOjE2NTYxNjI4NjUsImV4cCI6MTY1NjI0OTI2NX0.M_VtSt8RQOmufrvA37dRa6O6ddwRXf-i-bUkUIXQGCM"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/login": {
      "post": {
        "description": "",
        "tags": ["Login"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Garland_Schoen@hotmail.com",
                "password": "RZQ8YMIg6m8AaLS"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": false,
                      "lastLoggedIn": "2022-06-25T13:14:24.569Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b70a3094445b2fc52256b3",
                      "firstName": "Dayne",
                      "lastName": "Nolan",
                      "email": "Garland_Schoen@hotmail.com",
                      "updatedAt": "2022-06-25T14:14:24+01:00",
                      "createdAt": "2022-06-25T14:14:24+01:00",
                      "__v": 0
                    },
                    "type": "email_verification",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MGEzMDk0NDQ1YjJmYzUyMjU2YjMiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6ImRZUDJtSUVzQnFJS2ZyVThFcXlJdGY2TngzYlhzbjc3WmJ2WSIsImlhdCI6MTY1NjE2Mjg2NCwiZXhwIjoxNjU2MjQ5MjY0fQ.RiQMwX0C4RM4yfKT7tB-YFthe3YVYkMqIHv3vNARPCY"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/login": {
      "post": {
        "description": "",
        "tags": ["Login"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Ambrose65@gmail.com",
                "password": "q4RPTphN6l5tsE_"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T13:14:24.953Z",
                      "type": "admin",
                      "isActive": false,
                      "isSuperAdmin": true,
                      "_id": "62b70a3094445b2fc52256ca",
                      "email": "Ambrose65@gmail.com",
                      "updatedAt": "2022-06-25T14:14:24+01:00",
                      "createdAt": "2022-06-25T14:14:24+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MGEzMDk0NDQ1YjJmYzUyMjU2Y2EiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJLMkozYzM5Y1gzM1YwTVNaUDdnMWROU2lOVXlZbFBIUDlqRmciLCJpYXQiOjE2NTYxNjI4NjQsImV4cCI6MTY1NjI0OTI2NH0.td9qSgzxxCYK0biEFCcnNmzHF-WcPtee9f2NbUkSbOg"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/login": {
      "post": {
        "description": "",
        "tags": ["Login"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Amie.Carroll@hotmail.com",
                "password": "_LGUJDsAtGv7QU6"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T13:14:25.074Z",
                      "type": "business",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b70a3094445b2fc52256ba",
                      "phoneNumber": "+2345678765456",
                      "firstName": "Fleta",
                      "lastName": "Cummerata",
                      "email": "Amie.Carroll@hotmail.com",
                      "updatedAt": "2022-06-25T14:14:24+01:00",
                      "createdAt": "2022-06-25T14:14:24+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MGEzMDk0NDQ1YjJmYzUyMjU2YmEiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJSSWNmSElzWDNrR1BQNHQwcUJ0TDRuUVA5RzhaRVJPMUdJOVYiLCJpYXQiOjE2NTYxNjI4NjUsImV4cCI6MTY1NjI0OTI2NX0.5-v_kC4sex6IYbvynwR8Z5axYVuAVBdma4ekY-GsWQI"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify-email": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "account has been verified",
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MGEzMDk0NDQ1YjJmYzUyMjU2YjMiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJDaUd0amFSN1JVV3p0dWRTOHlaaFRlR3VwRlJ4WktqbERaUDUiLCJpYXQiOjE2NTYxNjI4NjUsImV4cCI6MTY1NjI0OTI2NX0.EdRuHgbflbC0ZZpDPrpAzGyp_vFZJl8gXwqaqpaR8nw"
                }
              }
            }
          }
        }
      }
    },
    "/v1/forgot-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Garland_Schoen@hotmail.com",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "your reset code has been sent to you mail. please continue to reset your password",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MGEzMDk0NDQ1YjJmYzUyMjU2YjMiLCJmbGFnIjoicGFzc3dvcmRfcmVzZXQiLCJjb3VudGVyIjoiSngzdWIzZE93SHpNMmExNjdhNVZNQm41Rmdmb3pOeEk1VVVBIiwiaWF0IjoxNjU2MTYyODY1LCJleHAiOjE2NTYyNDkyNjV9.ljK_u7R9TAFR_p5yJn_vg8inWYjX-Tq0fGulZYJOABs"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reset-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "confirmPassword": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345",
                "confirmPassword": "12345rrr",
                "password": "12345rrr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password reset successful!!"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart": {
      "put": {
        "description": "",
        "tags": ["Cart/Buyer"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "quantity": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "productId": "62b70a2e94445b2fc5225676",
                "quantity": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been added to cart successfully",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62b70a3194445b2fc52256ee",
                      "createdAt": "Sat Jun 25 2022 14:14:25 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Sat Jun 25 2022 14:14:25 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62b70a2e94445b2fc5225676",
                        "creatorId": "62b70a2e94445b2fc5225673",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "eum et itaque",
                        "description": "Et eius sed placeat omnis iusto. Unde non magni quod optio et saepe et cupiditate. Dicta reprehenderit quas eum quis facere autem quasi.",
                        "category": {
                          "_id": "62b6ffc92989ed284001d7f9",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "",
        "tags": ["Cart/Buyer"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "productId": "62b70a2e94445b2fc5225677"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been successfully removed from cart"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": ["Cart/Buyer"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62b70a3194445b2fc52256ee",
                      "createdAt": "Sat Jun 25 2022 14:14:25 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Sat Jun 25 2022 14:14:25 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62b70a2e94445b2fc5225676",
                        "creatorId": "62b70a2e94445b2fc5225673",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "eum et itaque",
                        "description": "Et eius sed placeat omnis iusto. Unde non magni quod optio et saepe et cupiditate. Dicta reprehenderit quas eum quis facere autem quasi.",
                        "category": {
                          "_id": "62b6ffc92989ed284001d7f9",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart/checkout": {
      "get": {
        "description": "",
        "tags": ["Cart/Buyer"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCost": {
                          "type": "number"
                        },
                        "totalDistanceCost": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "totalCost": 0.5,
                    "totalDistanceCost": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/order/stats": {
      "get": {
        "description": "",
        "tags": ["Cart/Vendor"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productsSold": {
                          "type": "number"
                        },
                        "cancelledOrders": {
                          "type": "number"
                        },
                        "incompleteOrders": {
                          "type": "number"
                        },
                        "pendingOrders": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "productsSold": 0,
                    "cancelledOrders": 0,
                    "incompleteOrders": 0,
                    "pendingOrders": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/categories": {
      "get": {
        "description": "",
        "tags": ["Categories"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "62b6ffc92989ed284001d7f9",
                      "name": "Food",
                      "__v": 0
                    },
                    {
                      "_id": "62b6ffc92989ed284001d7fb",
                      "name": "Livestock",
                      "__v": 0
                    },
                    {
                      "_id": "62b6ffc92989ed284001d7ff",
                      "name": "Phones",
                      "__v": 0
                    },
                    {
                      "_id": "62b6ffc92989ed284001d7fd",
                      "name": "Clothings",
                      "__v": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/admin/categories": {
      "post": {
        "description": "",
        "tags": ["Categories/Admin"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "name": "est dolores minima"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "_id": "62b70a3394445b2fc5225739",
                    "name": "est dolores minima",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products": {
      "post": {
        "description": "",
        "tags": ["Product/Vendor"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "expiryDate": {
                    "type": "object",
                    "properties": {}
                  },
                  "minimumOrder": {
                    "type": "number"
                  },
                  "handlingFee": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "imageUrl": "http://placeimg.com/640/480",
                "name": "Rustic Concrete Chair",
                "categoryId": "62b6ffc92989ed284001d7f9",
                "price": 500,
                "weight": 30,
                "quantity": 10,
                "expiryDate": "2022-06-25T13:14:28.032Z",
                "minimumOrder": 0,
                "handlingFee": 10,
                "description": "Eaque animi rerum. Qui ipsam dicta commodi molestias rem dolore. Ipsam sapiente est illo nostrum enim. Maxime quidem quia officia temporibus. Non minima et molestiae maxime sint vel."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {}
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "pending",
                    "_id": "62b70a3494445b2fc522573f",
                    "name": "Rustic Concrete Chair",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-06-25T13:14:28.032Z",
                    "description": "Eaque animi rerum. Qui ipsam dicta commodi molestias rem dolore. Ipsam sapiente est illo nostrum enim. Maxime quidem quia officia temporibus. Non minima et molestiae maxime sint vel.",
                    "feedback": [],
                    "createdAt": "Sat Jun 25 2022 14:14:28 GMT+0100 (West Africa Standard Time)",
                    "updatedAt": "2022-06-25T14:14:28+01:00",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": ["Product/Vendor"],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "reasonForDisapproval": {}
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "disapproved",
                      "_id": "62b70a3494445b2fc522573f",
                      "name": "Rustic Concrete Chair",
                      "imageUrl": "http://placeimg.com/640/480",
                      "expiryDate": "2022-06-25T13:14:28.032Z",
                      "description": "Eaque animi rerum. Qui ipsam dicta commodi molestias rem dolore. Ipsam sapiente est illo nostrum enim. Maxime quidem quia officia temporibus. Non minima et molestiae maxime sint vel.",
                      "feedback": [
                        {
                          "_id": "62b70a3494445b2fc522574d",
                          "customerId": "62b70a2e94445b2fc5225684",
                          "comment": "Ea velit ut temporibus nihil beatae quidem ut et. Voluptatem rerum est. Earum odit autem.",
                          "rating": 4,
                          "updatedAt": "2022-06-25T14:14:28+01:00",
                          "createdAt": "2022-06-25T14:14:28+01:00"
                        }
                      ],
                      "createdAt": "Sat Jun 25 2022 14:14:28 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T14:14:28+01:00",
                      "__v": 1,
                      "reasonForDisapproval": null
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/approve": {
      "post": {
        "description": "",
        "tags": ["Product/Admin"],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/disapprove": {
      "post": {
        "description": "",
        "tags": ["Product/Admin"],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "reason": "this is because it is the best"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/feedback": {
      "post": {
        "description": "",
        "tags": ["Product/Buyer"],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "comment": "Ea velit ut temporibus nihil beatae quidem ut et. Voluptatem rerum est. Earum odit autem.",
                "rating": 4
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "feedback added successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/like": {
      "post": {
        "description": "",
        "tags": ["Product/Buyer"],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been liked successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products/{productId}": {
      "get": {
        "description": "",
        "tags": ["Product"],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "creatorId": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "customerId": {
                                "type": "string"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "rating": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        },
                        "reasonForDisapproval": {}
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "disapproved",
                    "_id": "62b70a3494445b2fc522573f",
                    "name": "Rustic Concrete Chair",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-06-25T13:14:28.032Z",
                    "description": "Eaque animi rerum. Qui ipsam dicta commodi molestias rem dolore. Ipsam sapiente est illo nostrum enim. Maxime quidem quia officia temporibus. Non minima et molestiae maxime sint vel.",
                    "creatorId": "62b70a2e94445b2fc522567e",
                    "feedback": [
                      {
                        "_id": "62b70a3494445b2fc522574d",
                        "customerId": "62b70a2e94445b2fc5225684",
                        "comment": "Ea velit ut temporibus nihil beatae quidem ut et. Voluptatem rerum est. Earum odit autem.",
                        "rating": 4,
                        "updatedAt": "2022-06-25T14:14:28+01:00",
                        "createdAt": "2022-06-25T14:14:28+01:00"
                      }
                    ],
                    "createdAt": "Sat Jun 25 2022 14:14:28 GMT+0100 (West Africa Standard Time)",
                    "updatedAt": "2022-06-25T14:14:28+01:00",
                    "__v": 1,
                    "reasonForDisapproval": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products": {
      "get": {
        "description": "",
        "tags": ["Product"],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b7043e8ea3212b1a82aa40",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "Rustic Concrete Pizza",
                      "expiryDate": "2022-05-25T00:23:54.443Z",
                      "description": "Rem sapiente et atque voluptas amet. Dicta occaecati ipsum aut ullam ab qui voluptatibus dignissimos iste. Iusto fuga voluptate porro quidem sed reiciendis. Non hic labore veritatis tempore aut porro. Voluptatibus voluptas et.",
                      "categoryId": "62b6ffc92989ed284001d7f9",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 13:49:02 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T13:49:02+01:00",
                      "__v": 0
                    },
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b70441b198d32b27917598",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "Rustic Concrete Pizza",
                      "expiryDate": "2022-05-25T00:23:54.443Z",
                      "description": "Rem sapiente et atque voluptas amet. Dicta occaecati ipsum aut ullam ab qui voluptatibus dignissimos iste. Iusto fuga voluptate porro quidem sed reiciendis. Non hic labore veritatis tempore aut porro. Voluptatibus voluptas et.",
                      "categoryId": "62b6ffc92989ed284001d7f9",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 13:49:05 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T13:49:05+01:00",
                      "__v": 0
                    },
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b70446adba612b3abfcff1",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "Rustic Concrete Pizza",
                      "expiryDate": "2022-05-25T00:23:54.443Z",
                      "description": "Rem sapiente et atque voluptas amet. Dicta occaecati ipsum aut ullam ab qui voluptatibus dignissimos iste. Iusto fuga voluptate porro quidem sed reiciendis. Non hic labore veritatis tempore aut porro. Voluptatibus voluptas et.",
                      "categoryId": "62b6ffc92989ed284001d7f9",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 13:49:10 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T13:49:10+01:00",
                      "__v": 0
                    },
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b707ac7968812d7536088b",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "Rustic Concrete Pizza",
                      "expiryDate": "2022-05-25T00:23:54.443Z",
                      "description": "Rem sapiente et atque voluptas amet. Dicta occaecati ipsum aut ullam ab qui voluptatibus dignissimos iste. Iusto fuga voluptate porro quidem sed reiciendis. Non hic labore veritatis tempore aut porro. Voluptatibus voluptas et.",
                      "categoryId": "62b6ffc92989ed284001d7f9",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 14:03:40 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T14:03:40+01:00",
                      "__v": 0
                    },
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b709164b362f2ebcdb0ac7",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "Rustic Concrete Pizza",
                      "expiryDate": "2022-05-25T00:23:54.443Z",
                      "description": "Rem sapiente et atque voluptas amet. Dicta occaecati ipsum aut ullam ab qui voluptatibus dignissimos iste. Iusto fuga voluptate porro quidem sed reiciendis. Non hic labore veritatis tempore aut porro. Voluptatibus voluptas et.",
                      "categoryId": "62b6ffc92989ed284001d7ff",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 14:09:42 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T14:09:42+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b70a2e94445b2fc5225676",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "eum et itaque",
                      "categoryId": "62b6ffc92989ed284001d7f9",
                      "expiryDate": "2022-06-25T13:14:22.693Z",
                      "description": "Et eius sed placeat omnis iusto. Unde non magni quod optio et saepe et cupiditate. Dicta reprehenderit quas eum quis facere autem quasi.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 14:14:22 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T14:14:22+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b70a2e94445b2fc5225677",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "at earum ut",
                      "categoryId": "62b6ffc92989ed284001d7f9",
                      "expiryDate": "2022-06-25T13:14:22.693Z",
                      "description": "Iste et animi minima. Quidem laborum ut quos ex fugit dignissimos omnis atque. Et sunt dicta aut non sint hic rerum aliquid. Qui placeat beatae repellat commodi error harum aliquid.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 14:14:22 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T14:14:22+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b70a2f94445b2fc522569d",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "repellat qui esse",
                      "categoryId": "62b6ffc92989ed284001d7f9",
                      "expiryDate": "2022-06-25T13:14:23.456Z",
                      "description": "Sunt exercitationem qui aperiam repellendus voluptatem quos et dignissimos. Ipsum corrupti consequuntur aliquid enim aut. Numquam voluptate dolorem ut fugiat odit autem commodi et sed. Vel unde illo non enim numquam modi facilis explicabo.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 14:14:23 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T14:14:23+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b70a2f94445b2fc522569e",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "placeat accusantium deleniti",
                      "categoryId": "62b6ffc92989ed284001d7f9",
                      "expiryDate": "2022-06-25T13:14:23.456Z",
                      "description": "Consequuntur voluptates suscipit tempora eveniet nam. Aut minima voluptates eveniet quas qui fugiat esse ut. Natus minus harum optio ut officia odit veniam est quo. Rerum dicta voluptas qui aut vel perferendis. Veniam quia vero. Voluptas omnis culpa numquam pariatur excepturi molestiae cum et quia.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 14:14:23 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T14:14:23+01:00",
                      "__v": 0
                    }
                  ],
                  "pageData": {
                    "total": 9,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/favorites": {
      "get": {
        "description": "",
        "tags": ["Product/Buyer"],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "_id": "62b70a3494445b2fc522573f",
                      "name": "Rustic Concrete Chair",
                      "imageUrl": "http://placeimg.com/640/480",
                      "description": "Eaque animi rerum. Qui ipsam dicta commodi molestias rem dolore. Ipsam sapiente est illo nostrum enim. Maxime quidem quia officia temporibus. Non minima et molestiae maxime sint vel.",
                      "feedback": [
                        {
                          "_id": "62b70a3494445b2fc522574d",
                          "customerId": "62b70a2e94445b2fc5225684",
                          "comment": "Ea velit ut temporibus nihil beatae quidem ut et. Voluptatem rerum est. Earum odit autem.",
                          "rating": 4,
                          "updatedAt": "2022-06-25T14:14:28+01:00",
                          "createdAt": "2022-06-25T14:14:28+01:00"
                        }
                      ]
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products/feedback": {
      "get": {
        "description": "",
        "tags": ["Product/Vendor"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [],
                  "pageData": {
                    "total": 0,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/categories/{categoryId}/products?page=1&limit=20": {
      "get": {
        "description": "",
        "tags": ["Product"],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b7043e8ea3212b1a82aa40",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "Rustic Concrete Pizza",
                      "expiryDate": "2022-05-25T00:23:54.443Z",
                      "description": "Rem sapiente et atque voluptas amet. Dicta occaecati ipsum aut ullam ab qui voluptatibus dignissimos iste. Iusto fuga voluptate porro quidem sed reiciendis. Non hic labore veritatis tempore aut porro. Voluptatibus voluptas et.",
                      "categoryId": "62b6ffc92989ed284001d7f9",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 13:49:02 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T13:49:02+01:00",
                      "__v": 0
                    },
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
[...]
