{
  "openapi": "3.0.0",
  "info": {
    "title": "atoovis-server",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.otrex.site/"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/buyer/register": {
      "post": {
        "description": "",
        "tags": [
          "Register"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Daphney_Willms76@hotmail.com",
                "password": "yWgc7riZb70Cgee",
                "firstName": "Clovis",
                "lastName": "Weber",
                "gender": "male"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNTZhNDJjMTQzNDQzYjAzOGZhYmEiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6Ik44YUZBRjRjSFFGWFdrRlVtRHhnZTFHYkZ0N0dIUmJkaGJEdiIsImlhdCI6MTY2MDA0OTA2MSwiZXhwIjoxNjYwMTM1NDYxfQ.pnc21QkK6B9ZTb2oK-qEaEj4SkRKGKTjzTFr9cOtof8"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/register": {
      "post": {
        "description": "",
        "tags": [
          "Register"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sellerDetails": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      },
                      "phoneNumber": {
                        "type": "string"
                      },
                      "fullName": {
                        "type": "string"
                      }
                    }
                  },
                  "businessDetails": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "cacNumber": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "lga": {
                        "type": "string"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "lat": {
                            "type": "number"
                          },
                          "long": {
                            "type": "number"
                          },
                          "fullAddress": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "paymentDetails": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string"
                      },
                      "bank": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "payoutFrequency": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "example": {
                "sellerDetails": {
                  "email": "Jane.Jenkins@gmail.com",
                  "password": "YTjNS0UIvcb2t7y",
                  "phoneNumber": "+2345678765456",
                  "fullName": "Reilly Rippin"
                },
                "businessDetails": {
                  "type": "Upgradable analyzing synergy",
                  "name": "Vision-oriented didactic throughput",
                  "cacNumber": "Face to face value-added hardware",
                  "state": "Idaho",
                  "lga": "New Hampshire",
                  "address": {
                    "lat": 324.43,
                    "long": 2424.42,
                    "fullAddress": "Montenegro"
                  }
                },
                "paymentDetails": {
                  "accountNumber": "456789000987",
                  "bank": "Ergonomic modular projection",
                  "accountName": "Broderick Boyer",
                  "payoutFrequency": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNTZhNTJjMTQzNDQzYjAzOGZhYzEiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6IlV2NE9MWXM2ZkNIT2VOcnVIcGFnZHFaOGFpYjgzVERUT05TcyIsImlhdCI6MTY2MDA0OTA2MSwiZXhwIjoxNjYwMTM1NDYxfQ.L8doNwMtaundu1nftAPffYhfduoIQneJvUg9KD2jxAA"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Daphney_Willms76@hotmail.com",
                "password": "yWgc7riZb70Cgee",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            },
                            "verifiedEmailAt": {
                              "type": "string"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-08-09T12:44:22.624Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62f256a42c143443b038faba",
                      "firstName": "Clovis",
                      "lastName": "Weber",
                      "email": "Daphney_Willms76@hotmail.com",
                      "updatedAt": "2022-08-09T13:44:20+01:00",
                      "createdAt": "2022-08-09T13:44:20+01:00",
                      "__v": 0,
                      "verifiedEmailAt": "2022-08-09T12:44:22.507Z"
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNTZhNDJjMTQzNDQzYjAzOGZhYmEiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJjZWZoZXozYUJCSG9pOElZVkhYYWd4MThnZlFqWWpGZVZkcHAiLCJpYXQiOjE2NjAwNDkwNjIsImV4cCI6MTY2MDEzNTQ2Mn0.r_iengm1KeNBCHu16sykbxJmHMtF0j4kEL3u53XKA3E"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Daphney_Willms76@hotmail.com",
                "password": "yWgc7riZb70Cgee"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": false,
                      "lastLoggedIn": "2022-08-09T12:44:21.966Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62f256a42c143443b038faba",
                      "firstName": "Clovis",
                      "lastName": "Weber",
                      "email": "Daphney_Willms76@hotmail.com",
                      "updatedAt": "2022-08-09T13:44:20+01:00",
                      "createdAt": "2022-08-09T13:44:20+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNTZhNDJjMTQzNDQzYjAzOGZhYmEiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJFZ2pVaVBEYlc2VXB6amxhT2lGcFVGRlJrSkZKZkF4VnphUHkiLCJpYXQiOjE2NjAwNDkwNjEsImV4cCI6MTY2MDEzNTQ2MX0.EU41iDIG_ULDeFIFsfXm-RtG9KXgVqfIL9uZ00o7dVE"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Leo.King74@gmail.com",
                "password": "0TlhVJpPl4PzUNi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-08-09T12:44:22.207Z",
                      "type": "admin",
                      "isActive": false,
                      "isSuperAdmin": true,
                      "_id": "62f256a62c143443b038fad1",
                      "email": "Leo.King74@gmail.com",
                      "updatedAt": "2022-08-09T13:44:22+01:00",
                      "createdAt": "2022-08-09T13:44:22+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNTZhNjJjMTQzNDQzYjAzOGZhZDEiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJPaXJZYno3T0pmRDQ3dDUxMlFlczhzQjBBcFRadVlYNmJGdTYiLCJpYXQiOjE2NjAwNDkwNjIsImV4cCI6MTY2MDEzNTQ2Mn0.y31LSxFB_8lS0kx6XmYkWXptCyDJTPatOSTKIXs4wSE"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Jane.Jenkins@gmail.com",
                "password": "YTjNS0UIvcb2t7y"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-08-09T12:44:22.335Z",
                      "type": "business",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62f256a52c143443b038fac1",
                      "phoneNumber": "+2345678765456",
                      "firstName": "Reilly",
                      "lastName": "Rippin",
                      "email": "Jane.Jenkins@gmail.com",
                      "updatedAt": "2022-08-09T13:44:21+01:00",
                      "createdAt": "2022-08-09T13:44:21+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNTZhNTJjMTQzNDQzYjAzOGZhYzEiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJBZ01RNk00bUVEaDNXMk5VaEZaWE5rR3R1YUlWYklvT1dad2EiLCJpYXQiOjE2NjAwNDkwNjIsImV4cCI6MTY2MDEzNTQ2Mn0.yyUQaNb30Guy5lg9qvKlppovs9pCKFUIg428laxJVE0"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify-email": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "account has been verified",
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNTZhNDJjMTQzNDQzYjAzOGZhYmEiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJSOUFNTkV6SXRSYk4xNjhsTGFSSUgwS1lNeWRia2d3Wkd1dUsiLCJpYXQiOjE2NjAwNDkwNjIsImV4cCI6MTY2MDEzNTQ2Mn0.KcjBn6_iHS8-DWEtuXwRaegGT74mgw4uwvrpCP-QyHs"
                }
              }
            }
          }
        }
      }
    },
    "/v1/forgot-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Daphney_Willms76@hotmail.com",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "your reset code has been sent to you mail. please continue to reset your password",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNTZhNDJjMTQzNDQzYjAzOGZhYmEiLCJmbGFnIjoicGFzc3dvcmRfcmVzZXQiLCJjb3VudGVyIjoiQ09vdktZN1R2b3hyZ1Z5elUzdUVSRjZFT0hmakc0UHZpdUg3IiwiaWF0IjoxNjYwMDQ5MDYyLCJleHAiOjE2NjAxMzU0NjJ9.ZHBH1asPUTYe_BSq50vJuOSnsCKhr9W2PDo9mqDt8mU"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reset-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "confirmPassword": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345",
                "confirmPassword": "12345rrr",
                "password": "12345rrr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password reset successful!!"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart": {
      "put": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "quantity": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "productId": "62f256a22c143443b038fa6c",
                "quantity": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been added to cart successfully",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62f256a62c143443b038faf5",
                      "createdAt": "Tue Aug 09 2022 13:44:22 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Tue Aug 09 2022 13:44:23 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62f256a22c143443b038fa6c",
                        "creatorId": "62f256a22c143443b038fa69",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "voluptatem ipsa expedita",
                        "description": "Molestiae dolores ut omnis quaerat qui. Sed aut error doloremque necessitatibus. Dolores dolorum ipsa id. Quisquam mollitia est. Et minima deserunt sapiente dicta velit. Aut laboriosam illo tempora rem assumenda.",
                        "category": {
                          "_id": "62f2569f2c143443b038fa50",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "productId": "62f256a22c143443b038fa6d"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been successfully removed from cart"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62f256a62c143443b038faf5",
                      "createdAt": "Tue Aug 09 2022 13:44:22 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Tue Aug 09 2022 13:44:23 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62f256a22c143443b038fa6c",
                        "creatorId": "62f256a22c143443b038fa69",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "voluptatem ipsa expedita",
                        "description": "Molestiae dolores ut omnis quaerat qui. Sed aut error doloremque necessitatibus. Dolores dolorum ipsa id. Quisquam mollitia est. Et minima deserunt sapiente dicta velit. Aut laboriosam illo tempora rem assumenda.",
                        "category": {
                          "_id": "62f2569f2c143443b038fa50",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart/checkout": {
      "get": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCost": {
                          "type": "number"
                        },
                        "totalDistanceCost": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "totalCost": 0.5,
                    "totalDistanceCost": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/order/stats": {
      "get": {
        "description": "",
        "tags": [
          "Cart/Vendor"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productsSold": {
                          "type": "number"
                        },
                        "cancelledOrders": {
                          "type": "number"
                        },
                        "incompleteOrders": {
                          "type": "number"
                        },
                        "pendingOrders": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "productsSold": 0,
                    "cancelledOrders": 0,
                    "incompleteOrders": 0,
                    "pendingOrders": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/categories": {
      "get": {
        "description": "",
        "tags": [
          "Categories"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "62f2569f2c143443b038fa50",
                      "name": "Food",
                      "__v": 0
                    },
                    {
                      "_id": "62f2569f2c143443b038fa52",
                      "name": "Livestock",
                      "__v": 0
                    },
                    {
                      "_id": "62f2569f2c143443b038fa56",
                      "name": "Phones",
                      "__v": 0
                    },
                    {
                      "_id": "62f2569f2c143443b038fa54",
                      "name": "Clothings",
                      "__v": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/admin/categories": {
      "post": {
        "description": "",
        "tags": [
          "Categories/Admin"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "name": "aut quia recusandae"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "_id": "62f256a92c143443b038fb40",
                    "name": "aut quia recusandae",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products": {
      "post": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "expiryDate": {
                    "type": "object",
                    "properties": {}
                  },
                  "minimumOrder": {
                    "type": "number"
                  },
                  "handlingFee": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "imageUrl": "http://placeimg.com/640/480",
                "name": "Incredible Metal Chair",
                "categoryId": "62f2569f2c143443b038fa50",
                "price": 500,
                "weight": 30,
                "quantity": 10,
                "expiryDate": "2022-08-09T12:44:25.472Z",
                "minimumOrder": 0,
                "handlingFee": 10,
                "description": "Alias magnam aut velit ipsa et minus qui dolores aut. Odit consequatur sit itaque. Molestiae et et nobis officiis quia."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {}
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "pending",
                    "_id": "62f256a92c143443b038fb46",
                    "name": "Incredible Metal Chair",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-08-09T12:44:25.472Z",
                    "description": "Alias magnam aut velit ipsa et minus qui dolores aut. Odit consequatur sit itaque. Molestiae et et nobis officiis quia.",
                    "feedback": [],
                    "createdAt": "2022-08-09T12:44:25.501Z",
                    "updatedAt": "2022-08-09T12:44:25.501Z",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "reasonForDisapproval": {}
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "disapproved",
                      "_id": "62f256a92c143443b038fb46",
                      "name": "Incredible Metal Chair",
                      "imageUrl": "http://placeimg.com/640/480",
                      "expiryDate": "2022-08-09T12:44:25.472Z",
                      "description": "Alias magnam aut velit ipsa et minus qui dolores aut. Odit consequatur sit itaque. Molestiae et et nobis officiis quia.",
                      "feedback": [
                        {
                          "_id": "62f256a92c143443b038fb54",
                          "customerId": "62f256a32c143443b038fa7a",
                          "comment": "Enim sed non omnis quibusdam vel sit. Reprehenderit laboriosam omnis cumque aut autem sit cum.",
                          "rating": 4,
                          "updatedAt": "2022-08-09T13:44:25+01:00",
                          "createdAt": "2022-08-09T13:44:25+01:00"
                        }
                      ],
                      "createdAt": "2022-08-09T12:44:25.501Z",
                      "updatedAt": "2022-08-09T12:44:25.692Z",
                      "__v": 1,
                      "reasonForDisapproval": null
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/approve": {
      "post": {
        "description": "",
        "tags": [
          "Product/Admin"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/disapprove": {
      "post": {
        "description": "",
        "tags": [
          "Product/Admin"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "reason": "this is because it is the best"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/feedback": {
      "post": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "comment": "Enim sed non omnis quibusdam vel sit. Reprehenderit laboriosam omnis cumque aut autem sit cum.",
                "rating": 4
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "feedback added successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/like": {
      "post": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been liked successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products/{productId}": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "creatorId": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "customerId": {
                                "type": "string"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "rating": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        },
                        "reasonForDisapproval": {}
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "disapproved",
                    "_id": "62f256a92c143443b038fb46",
                    "name": "Incredible Metal Chair",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-08-09T12:44:25.472Z",
                    "description": "Alias magnam aut velit ipsa et minus qui dolores aut. Odit consequatur sit itaque. Molestiae et et nobis officiis quia.",
                    "creatorId": "62f256a32c143443b038fa74",
                    "feedback": [
                      {
                        "_id": "62f256a92c143443b038fb54",
                        "customerId": "62f256a32c143443b038fa7a",
                        "comment": "Enim sed non omnis quibusdam vel sit. Reprehenderit laboriosam omnis cumque aut autem sit cum.",
                        "rating": 4,
                        "updatedAt": "2022-08-09T13:44:25+01:00",
                        "createdAt": "2022-08-09T13:44:25+01:00"
                      }
                    ],
                    "createdAt": "2022-08-09T12:44:25.501Z",
                    "updatedAt": "2022-08-09T12:44:25.692Z",
                    "__v": 1,
                    "reasonForDisapproval": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f256a22c143443b038fa6c",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "voluptatem ipsa expedita",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T12:44:18.424Z",
                      "description": "Molestiae dolores ut omnis quaerat qui. Sed aut error doloremque necessitatibus. Dolores dolorum ipsa id. Quisquam mollitia est. Et minima deserunt sapiente dicta velit. Aut laboriosam illo tempora rem assumenda.",
                      "feedback": [],
                      "createdAt": "2022-08-09T12:44:18.436Z",
                      "updatedAt": "2022-08-09T12:44:18.436Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f256a22c143443b038fa6d",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "et minus recusandae",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T12:44:18.425Z",
                      "description": "Repellat rem sit debitis totam ipsam vel id ut esse. Et iusto minima commodi perferendis. Molestiae sed harum aut porro voluptas quia harum tenetur. Eius error iure et alias alias optio. Nostrum sint consequatur est dolorem. Mollitia est earum est quia voluptas fuga expedita facere cumque.",
                      "feedback": [],
                      "createdAt": "2022-08-09T12:44:18.436Z",
                      "updatedAt": "2022-08-09T12:44:18.436Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f256a32c143443b038fa93",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "et nesciunt quia",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T12:44:19.897Z",
                      "description": "Maxime blanditiis eveniet hic. Iste dolorum sequi facilis quo reprehenderit pariatur. Quo sunt beatae velit occaecati molestiae et et aut ipsa. Voluptatibus sunt non ut inventore perferendis maxime distinctio. Occaecati voluptas eos vero ut porro expedita ut repudiandae quasi.",
                      "feedback": [],
                      "createdAt": "2022-08-09T12:44:19.902Z",
                      "updatedAt": "2022-08-09T12:44:19.902Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f256a32c143443b038fa94",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "libero eveniet ea",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T12:44:19.897Z",
                      "description": "Est enim voluptatibus in ducimus repudiandae assumenda est. Deleniti hic quisquam repudiandae eos nostrum dolorum nisi et molestiae. Voluptatibus recusandae officia et explicabo sequi eaque voluptatum.",
                      "feedback": [],
                      "createdAt": "2022-08-09T12:44:19.903Z",
                      "updatedAt": "2022-08-09T12:44:19.903Z",
                      "__v": 0
                    }
                  ],
                  "pageData": {
                    "total": 4,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/favorites": {
      "get": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "_id": "62f256a92c143443b038fb46",
                      "name": "Incredible Metal Chair",
                      "imageUrl": "http://placeimg.com/640/480",
                      "description": "Alias magnam aut velit ipsa et minus qui dolores aut. Odit consequatur sit itaque. Molestiae et et nobis officiis quia.",
                      "feedback": [
                        {
                          "_id": "62f256a92c143443b038fb54",
                          "customerId": "62f256a32c143443b038fa7a",
                          "comment": "Enim sed non omnis quibusdam vel sit. Reprehenderit laboriosam omnis cumque aut autem sit cum.",
                          "rating": 4,
                          "updatedAt": "2022-08-09T13:44:25+01:00",
                          "createdAt": "2022-08-09T13:44:25+01:00"
                        }
                      ]
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products/feedback": {
      "get": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [],
                  "pageData": {
                    "total": 0,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/products/feedback": {
      "get": {
        "description": "",
        "tags": [
          "V2/Product/Admin"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "__v": {
                                "type": "number"
                              }
                            }
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "avgRating": {
                            "type": "number"
                          },
                          "noOfComments": {
                            "type": "number"
                          },
                          "category": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "__v": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "status": "approved",
                      "_id": "62f256a22c143443b038fa6c",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "voluptatem ipsa expedita",
                      "categoryId": {
                        "_id": "62f2569f2c143443b038fa50",
                        "name": "Food",
                        "__v": 0
                      },
                      "expiryDate": "2022-08-09T12:44:18.424Z",
                      "description": "Molestiae dolores ut omnis quaerat qui. Sed aut error doloremque necessitatibus. Dolores dolorum ipsa id. Quisquam mollitia est. Et minima deserunt sapiente dicta velit. Aut laboriosam illo tempora rem assumenda.",
                      "feedback": [],
                      "createdAt": "2022-08-09T12:44:18.436Z",
                      "updatedAt": "2022-08-09T12:44:18.436Z",
                      "__v": 0,
                      "avgRating": 0,
                      "noOfComments": 0,
                      "category": {
                        "_id": "62f2569f2c143443b038fa50",
                        "name": "Food",
                        "__v": 0
                      }
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "status": "approved",
                      "_id": "62f256a22c143443b038fa6d",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "et minus recusandae",
                      "categoryId": {
                        "_id": "62f2569f2c143443b038fa50",
                        "name": "Food",
                        "__v": 0
                      },
                      "expiryDate": "2022-08-09T12:44:18.425Z",
                      "description": "Repellat rem sit debitis totam ipsam vel id ut esse. Et iusto minima commodi perferendis. Molestiae sed harum aut porro voluptas quia harum tenetur. Eius error iure et alias alias optio. Nostrum sint consequatur est dolorem. Mollitia est earum est quia voluptas fuga expedita facere cumque.",
                      "feedback": [],
                      "createdAt": "2022-08-09T12:44:18.436Z",
                      "updatedAt": "2022-08-09T12:44:18.436Z",
                      "__v": 0,
                      "avgRating": 0,
                      "noOfComments": 0,
                      "category": {
                        "_id": "62f2569f2c143443b038fa50",
                        "name": "Food",
                        "__v": 0
                      }
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "status": "approved",
                      "_id": "62f256a32c143443b038fa93",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "et nesciunt quia",
                      "categoryId": {
                        "_id": "62f2569f2c143443b038fa50",
                        "name": "Food",
                        "__v": 0
                      },
                      "expiryDate": "2022-08-09T12:44:19.897Z",
                      "description": "Maxime blanditiis eveniet hic. Iste dolorum sequi facilis quo reprehenderit pariatur. Quo sunt beatae velit occaecati molestiae et et aut ipsa. Voluptatibus sunt non ut inventore perferendis maxime distinctio. Occaecati voluptas eos vero ut porro expedita ut repudiandae quasi.",
                      "feedback": [],
                      "createdAt": "2022-08-09T12:44:19.902Z",
                      "updatedAt": "2022-08-09T12:44:19.902Z",
                      "__v": 0,
                      "avgRating": 0,
                      "noOfComments": 0,
                      "category": {
                        "_id": "62f2569f2c143443b038fa50",
                        "name": "Food",
                        "__v": 0
                      }
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "status": "approved",
                      "_id": "62f256a32c143443b038fa94",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "libero eveniet ea",
                      "categoryId": {
                        "_id": "62f2569f2c143443b038fa50",
                        "name": "Food",
                        "__v": 0
                      },
                      "expiryDate": "2022-08-09T12:44:19.897Z",
                      "description": "Est enim voluptatibus in ducimus repudiandae assumenda est. Deleniti hic quisquam repudiandae eos nostrum dolorum nisi et molestiae. Voluptatibus recusandae officia et explicabo sequi eaque voluptatum.",
                      "feedback": [],
                      "createdAt": "2022-08-09T12:44:19.903Z",
                      "updatedAt": "2022-08-09T12:44:19.903Z",
                      "__v": 0,
                      "avgRating": 0,
                      "noOfComments": 0,
                      "category": {
                        "_id": "62f2569f2c143443b038fa50",
                        "name": "Food",
                        "__v": 0
                      }
                    }
                  ],
                  "pageData": {
                    "total": 4,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/categories/{categoryId}/products?page=1&limit=20": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "",
[...]
