{
  "openapi": "3.0.0",
  "info": {
    "title": "atoovis-server",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.otrex.site/"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/buyer/register": {
      "post": {
        "description": "",
        "tags": [
          "Register"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Athena.Goyette@gmail.com",
                "password": "P__LKYbiQO1ncAi",
                "firstName": "Adela",
                "lastName": "Gaylord",
                "gender": "male"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmIwMzUzMWUyZGZjYjFlMTVkMmU4MTIiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6IkNHUUlVbkdXM0hoejZ5ZGk0aXdaOTRuWFZtcGtqZ2lQQkZsbSIsImlhdCI6MTY1NTcxNTEyMSwiZXhwIjoxNjU1ODAxNTIxfQ.lnJFFyTpsB_tPLKa5hCph_kUyKpUL825ufSzPy3zfuk"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/register": {
      "post": {
        "description": "",
        "tags": [
          "Register"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sellerDetails": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      },
                      "phoneNumber": {
                        "type": "string"
                      },
                      "fullName": {
                        "type": "string"
                      }
                    }
                  },
                  "businessDetails": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "cacNumber": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "lga": {
                        "type": "string"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "lat": {
                            "type": "number"
                          },
                          "long": {
                            "type": "number"
                          },
                          "label": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "paymentDetails": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string"
                      },
                      "bank": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "payoutFrequency": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "example": {
                "sellerDetails": {
                  "email": "Kiara.Labadie56@gmail.com",
                  "password": "pEMUNAwrmR7JgF0",
                  "phoneNumber": "+2345678765456",
                  "fullName": "Annetta Pouros"
                },
                "businessDetails": {
                  "type": "Versatile solution-oriented superstructure",
                  "name": "Cross-platform clear-thinking instruction set",
                  "cacNumber": "Open-source logistical superstructure",
                  "state": "Oregon",
                  "lga": "South Dakota",
                  "address": {
                    "lat": 324.43,
                    "long": 2424.42,
                    "label": "Djibouti"
                  }
                },
                "paymentDetails": {
                  "accountNumber": "456789000987",
                  "bank": "Business-focused stable secured line",
                  "accountName": "Bennett Koelpin",
                  "payoutFrequency": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmIwMzUzMmUyZGZjYjFlMTVkMmU4MTkiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6InhyTTBDeklySHQwQnVjMGd0dUZ2bDhiMUpLdUREazFNeFVyRiIsImlhdCI6MTY1NTcxNTEyMiwiZXhwIjoxNjU1ODAxNTIyfQ.fE4tKKSmGm9yQb8JKQCmH_X7eR0ykUxrXKhnUVtx-LA"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Athena.Goyette@gmail.com",
                "password": "P__LKYbiQO1ncAi",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            },
                            "verifiedEmailAt": {
                              "type": "string"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-20T08:52:03.333Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b03531e2dfcb1e15d2e812",
                      "firstName": "Adela",
                      "lastName": "Gaylord",
                      "email": "Athena.Goyette@gmail.com",
                      "updatedAt": "2022-06-20T09:52:01+01:00",
                      "createdAt": "2022-06-20T09:52:01+01:00",
                      "__v": 0,
                      "verifiedEmailAt": "2022-06-20T08:52:03.213Z"
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmIwMzUzMWUyZGZjYjFlMTVkMmU4MTIiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJycDhxaENiWXdDY1pabHc0VzY5YllUQzdYTmdqdEtOd3pqWTIiLCJpYXQiOjE2NTU3MTUxMjMsImV4cCI6MTY1NTgwMTUyM30.3-YisiohwD5_sU5Tmq_j_Npu6TCYKnzG60s-E0sYIAc"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Athena.Goyette@gmail.com",
                "password": "P__LKYbiQO1ncAi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": false,
                      "lastLoggedIn": "2022-06-20T08:52:02.588Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b03531e2dfcb1e15d2e812",
                      "firstName": "Adela",
                      "lastName": "Gaylord",
                      "email": "Athena.Goyette@gmail.com",
                      "updatedAt": "2022-06-20T09:52:01+01:00",
                      "createdAt": "2022-06-20T09:52:01+01:00",
                      "__v": 0
                    },
                    "type": "email_verification",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmIwMzUzMWUyZGZjYjFlMTVkMmU4MTIiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6ImVrYW85eGQyc3c3WmJhYjlyVEJ6Y25Xb3FNUm1ScXEyc1VGdyIsImlhdCI6MTY1NTcxNTEyMiwiZXhwIjoxNjU1ODAxNTIyfQ.SUI8bwXf421F2AKk4sUA3j-vTL1HZSqy0cePHzNoQt8"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Hillard_Hahn@yahoo.com",
                "password": "Op_DikJQhQrAASM"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-20T08:52:02.834Z",
                      "type": "admin",
                      "isActive": false,
                      "isSuperAdmin": true,
                      "_id": "62b03532e2dfcb1e15d2e829",
                      "email": "Hillard_Hahn@yahoo.com",
                      "updatedAt": "2022-06-20T09:52:02+01:00",
                      "createdAt": "2022-06-20T09:52:02+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmIwMzUzMmUyZGZjYjFlMTVkMmU4MjkiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJRNzRkZUpiM1dJZmdiSk96WVBRV1Rsc3BCOEhUMHUySGVSZkciLCJpYXQiOjE2NTU3MTUxMjIsImV4cCI6MTY1NTgwMTUyMn0.2FAHiuxj-gPYbRAc5cWlAJc_gsdik38LbDDmaDwMAMU"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Kiara.Labadie56@gmail.com",
                "password": "pEMUNAwrmR7JgF0"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": false,
                      "lastLoggedIn": "2022-06-20T08:52:03.017Z",
                      "type": "business",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b03532e2dfcb1e15d2e819",
                      "phoneNumber": "+2345678765456",
                      "firstName": "Annetta",
                      "lastName": "Pouros",
                      "email": "Kiara.Labadie56@gmail.com",
                      "updatedAt": "2022-06-20T09:52:02+01:00",
                      "createdAt": "2022-06-20T09:52:02+01:00",
                      "__v": 0
                    },
                    "type": "email_verification",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmIwMzUzMmUyZGZjYjFlMTVkMmU4MTkiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6InkxdG94VmhVc3NBamFmTUlCSXBoZk9tek1ZVTlwd3dvQjJQViIsImlhdCI6MTY1NTcxNTEyMywiZXhwIjoxNjU1ODAxNTIzfQ.uCa9w1iscMRza09oZf_uoNPXNDAIwKvQw0FMfjtSKbU"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify-email": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "account has been verified",
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmIwMzUzMWUyZGZjYjFlMTVkMmU4MTIiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJGcGdjZDZueENibmc3M05kT0hMY2w3VXZDNDFidU5Yb3FkSVYiLCJpYXQiOjE2NTU3MTUxMjMsImV4cCI6MTY1NTgwMTUyM30.CM03Xbl2bweKGhO60RnzAR85OqLRHYHBFRrVlgFVpas"
                }
              }
            }
          }
        }
      }
    },
    "/v1/forgot-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Athena.Goyette@gmail.com",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "your reset code has been sent to you mail. please continue to reset your password",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmIwMzUzMWUyZGZjYjFlMTVkMmU4MTIiLCJmbGFnIjoicGFzc3dvcmRfcmVzZXQiLCJjb3VudGVyIjoiQWVxVnpOa0h2RDZyWkw2MEJoUk1JRmVCNUk1eEt6a2ZLejBiIiwiaWF0IjoxNjU1NzE1MTIzLCJleHAiOjE2NTU4MDE1MjN9.eo7rHx-RTL70CxKTMRYE7x7zeiActNcLyi4ZP2OWmIs"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reset-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "confirmPassword": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345",
                "confirmPassword": "12345rrr",
                "password": "12345rrr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password reset successful!!"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart": {
      "put": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "quantity": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "productId": "62b03530e2dfcb1e15d2e7e6",
                "quantity": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been added to cart successfully",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62b03533e2dfcb1e15d2e84e",
                      "createdAt": "Mon Jun 20 2022 09:52:03 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Mon Jun 20 2022 09:52:03 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62b03530e2dfcb1e15d2e7e6",
                        "creatorId": "62b0352fe2dfcb1e15d2e7e3",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "id repudiandae nam",
                        "description": "Dolores sit asperiores cupiditate non commodi perspiciatis. Quis quia dolorem laboriosam minima pariatur doloremque sit.",
                        "category": {
                          "_id": "62b0352de2dfcb1e15d2e7c9",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62b03533e2dfcb1e15d2e84e",
                      "createdAt": "Mon Jun 20 2022 09:52:03 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Mon Jun 20 2022 09:52:03 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62b03530e2dfcb1e15d2e7e6",
                        "creatorId": "62b0352fe2dfcb1e15d2e7e3",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "id repudiandae nam",
                        "description": "Dolores sit asperiores cupiditate non commodi perspiciatis. Quis quia dolorem laboriosam minima pariatur doloremque sit.",
                        "category": {
                          "_id": "62b0352de2dfcb1e15d2e7c9",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart/checkout": {
      "post": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "authorizationUrl": {
                          "type": "string"
                        },
                        "accessCode": {
                          "type": "string"
                        },
                        "transactionId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "authorizationUrl": "http://test",
                    "accessCode": "paymentInit.accessCode",
                    "transactionId": "62b03534e2dfcb1e15d2e887"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCost": {
                          "type": "number"
                        },
                        "totalDistanceCost": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "totalCost": 0.5,
                    "totalDistanceCost": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/order/stats": {
      "get": {
        "description": "",
        "tags": [
          "Cart/Vendor"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productsSold": {
                          "type": "number"
                        },
                        "cancelledOrders": {
                          "type": "number"
                        },
                        "incompleteOrders": {
                          "type": "number"
                        },
                        "pendingOrders": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "productsSold": 0,
                    "cancelledOrders": 0,
                    "incompleteOrders": 0,
                    "pendingOrders": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/categories": {
      "get": {
        "description": "",
        "tags": [
          "Categories"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "62b0352de2dfcb1e15d2e7c9",
                      "name": "Food",
                      "__v": 0
                    },
                    {
                      "_id": "62b0352de2dfcb1e15d2e7cb",
                      "name": "Livestock",
                      "__v": 0
                    },
                    {
                      "_id": "62b0352de2dfcb1e15d2e7cd",
                      "name": "Clothings",
                      "__v": 0
                    },
                    {
                      "_id": "62b0352de2dfcb1e15d2e7cf",
                      "name": "Phones",
                      "__v": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/admin/categories": {
      "post": {
        "description": "",
        "tags": [
          "Categories/Admin"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "name": "sint sed fuga"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "_id": "62b03539e2dfcb1e15d2e89f",
                    "name": "sint sed fuga",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products": {
      "post": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "expiryDate": {
                    "type": "object",
                    "properties": {}
                  },
                  "minimumOrder": {
                    "type": "number"
                  },
                  "handlingFee": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "imageUrl": "http://placeimg.com/640/480",
                "name": "Licensed Concrete Table",
                "categoryId": "62b0352de2dfcb1e15d2e7c9",
                "price": 500,
                "weight": 30,
                "quantity": 10,
                "expiryDate": "2022-06-20T08:52:09.135Z",
                "minimumOrder": 0,
                "handlingFee": 10,
                "description": "Odit enim reiciendis accusantium nisi reprehenderit ut. Repudiandae consectetur sint sint sint aperiam nam dolor aut illo."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {}
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "pending",
                    "_id": "62b03539e2dfcb1e15d2e8a6",
                    "name": "Licensed Concrete Table",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-06-20T08:52:09.135Z",
                    "description": "Odit enim reiciendis accusantium nisi reprehenderit ut. Repudiandae consectetur sint sint sint aperiam nam dolor aut illo.",
                    "feedback": [],
                    "createdAt": "Mon Jun 20 2022 09:52:09 GMT+0100 (West Africa Standard Time)",
                    "updatedAt": "2022-06-20T09:52:09+01:00",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "reasonForDisapproval": {}
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "disapproved",
                      "_id": "62b03539e2dfcb1e15d2e8a6",
                      "name": "Licensed Concrete Table",
                      "imageUrl": "http://placeimg.com/640/480",
                      "expiryDate": "2022-06-20T08:52:09.135Z",
                      "description": "Odit enim reiciendis accusantium nisi reprehenderit ut. Repudiandae consectetur sint sint sint aperiam nam dolor aut illo.",
                      "feedback": [
                        {
                          "_id": "62b03539e2dfcb1e15d2e8b7",
                          "customerId": "62b03530e2dfcb1e15d2e7f4",
                          "comment": "Ab quibusdam provident praesentium dignissimos porro deleniti. Provident eos porro rem vitae inventore assumenda.",
                          "rating": 4,
                          "updatedAt": "2022-06-20T09:52:09+01:00",
                          "createdAt": "2022-06-20T09:52:09+01:00"
                        }
                      ],
                      "createdAt": "Mon Jun 20 2022 09:52:09 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-20T09:52:09+01:00",
                      "__v": 1,
                      "reasonForDisapproval": null
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/approve": {
      "post": {
        "description": "",
        "tags": [
          "Product/Admin"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/disapprove": {
      "post": {
        "description": "",
        "tags": [
          "Product/Admin"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "reason": "this is because it is the best"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/feedback": {
      "post": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "comment": "Ab quibusdam provident praesentium dignissimos porro deleniti. Provident eos porro rem vitae inventore assumenda.",
                "rating": 4
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "feedback added successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/like": {
      "post": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been liked successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products/{productId}": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "creatorId": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "customerId": {
                                "type": "string"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "rating": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        },
                        "reasonForDisapproval": {}
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "disapproved",
                    "_id": "62b03539e2dfcb1e15d2e8a6",
                    "name": "Licensed Concrete Table",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-06-20T08:52:09.135Z",
                    "description": "Odit enim reiciendis accusantium nisi reprehenderit ut. Repudiandae consectetur sint sint sint aperiam nam dolor aut illo.",
                    "creatorId": "62b03530e2dfcb1e15d2e7ee",
                    "feedback": [
                      {
                        "_id": "62b03539e2dfcb1e15d2e8b7",
                        "customerId": "62b03530e2dfcb1e15d2e7f4",
                        "comment": "Ab quibusdam provident praesentium dignissimos porro deleniti. Provident eos porro rem vitae inventore assumenda.",
                        "rating": 4,
                        "updatedAt": "2022-06-20T09:52:09+01:00",
                        "createdAt": "2022-06-20T09:52:09+01:00"
                      }
                    ],
                    "createdAt": "Mon Jun 20 2022 09:52:09 GMT+0100 (West Africa Standard Time)",
                    "updatedAt": "2022-06-20T09:52:09+01:00",
                    "__v": 1,
                    "reasonForDisapproval": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b03530e2dfcb1e15d2e7e6",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "id repudiandae nam",
                      "categoryId": "62b0352de2dfcb1e15d2e7c9",
                      "expiryDate": "2022-06-20T08:52:00.075Z",
                      "description": "Dolores sit asperiores cupiditate non commodi perspiciatis. Quis quia dolorem laboriosam minima pariatur doloremque sit.",
                      "feedback": [],
                      "createdAt": "Mon Jun 20 2022 09:52:00 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-20T09:52:00+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b03530e2dfcb1e15d2e7e7",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "qui est est",
                      "categoryId": "62b0352de2dfcb1e15d2e7c9",
                      "expiryDate": "2022-06-20T08:52:00.075Z",
                      "description": "Fugit delectus occaecati modi velit ex molestias nulla dignissimos. Enim asperiores quia rerum quis. Mollitia enim enim doloremque et placeat praesentium.",
                      "feedback": [],
                      "createdAt": "Mon Jun 20 2022 09:52:00 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-20T09:52:00+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b03531e2dfcb1e15d2e80d",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "adipisci reprehenderit neque",
                      "categoryId": "62b0352de2dfcb1e15d2e7c9",
                      "expiryDate": "2022-06-20T08:52:01.361Z",
                      "description": "Qui corporis dignissimos voluptatibus. Velit possimus porro earum illo. Sunt rerum quisquam aut minima praesentium quia iusto. Velit deleniti autem et explicabo et.",
                      "feedback": [],
                      "createdAt": "Mon Jun 20 2022 09:52:01 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-20T09:52:01+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b03531e2dfcb1e15d2e80e",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "porro ipsum accusamus",
                      "categoryId": "62b0352de2dfcb1e15d2e7c9",
                      "expiryDate": "2022-06-20T08:52:01.361Z",
                      "description": "Quia a debitis fugiat quia et magni. Praesentium placeat fugiat. Vitae rerum ex occaecati eaque excepturi. Ut et neque. Nulla quia error corrupti consectetur fugiat.",
                      "feedback": [],
                      "createdAt": "Mon Jun 20 2022 09:52:01 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-20T09:52:01+01:00",
                      "__v": 0
                    }
                  ],
                  "pageData": {
                    "total": 4,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/favorites": {
      "get": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "_id": "62b03539e2dfcb1e15d2e8a6",
                      "name": "Licensed Concrete Table",
                      "imageUrl": "http://placeimg.com/640/480",
                      "description": "Odit enim reiciendis accusantium nisi reprehenderit ut. Repudiandae consectetur sint sint sint aperiam nam dolor aut illo.",
                      "feedback": [
                        {
                          "_id": "62b03539e2dfcb1e15d2e8b7",
                          "customerId": "62b03530e2dfcb1e15d2e7f4",
                          "comment": "Ab quibusdam provident praesentium dignissimos porro deleniti. Provident eos porro rem vitae inventore assumenda.",
                          "rating": 4,
                          "updatedAt": "2022-06-20T09:52:09+01:00",
                          "createdAt": "2022-06-20T09:52:09+01:00"
                        }
                      ]
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products/feedback": {
      "get": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [],
                  "pageData": {
                    "total": 0,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/categories/{categoryId}/products?page=1&limit=20": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b03530e2dfcb1e15d2e7e6",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "id repudiandae nam",
                      "categoryId": "62b0352de2dfcb1e15d2e7c9",
                      "expiryDate": "2022-06-20T08:52:00.075Z",
                      "description": "Dolores sit asperiores cupiditate non commodi perspiciatis. Quis quia dolorem laboriosam minima pariatur doloremque sit.",
                      "feedback": [],
                      "createdAt": "Mon Jun 20 2022 09:52:00 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-20T09:52:00+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b03530e2dfcb1e15d2e7e7",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "qui est est",
                      "categoryId": "62b0352de2dfcb1e15d2e7c9",
                      "expiryDate": "2022-06-20T08:52:00.075Z",
                      "description": "Fugit delectus occaecati modi velit ex molestias nulla dignissimos. Enim asperiores quia rerum quis. Mollitia enim enim doloremque et placeat praesentium.",
                      "feedback": [],
                      "createdAt": "Mon Jun 20 2022 09:52:00 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-20T09:52:00+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b03531e2dfcb1e15d2e80d",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "adipisci reprehenderit neque",
                      "categoryId": "62b0352de2dfcb1e15d2e7c9",
                      "expiryDate": "2022-06-20T08:52:01.361Z",
                      "description": "Qui corporis dignissimos voluptatibus. Velit possimus porro earum illo. Sunt rerum quisquam aut minima praesentium quia iusto. Velit deleniti autem et explicabo et.",
                      "feedback": [],
                      "createdAt": "Mon Jun 20 2022 09:52:01 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-20T09:52:01+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b03531e2dfcb1e15d2e80e",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "porro ipsum accusamus",
                      "categoryId": "62b0352de2dfcb1e15d2e7c9",
                      "expiryDate": "2022-06-20T08:52:01.361Z",
                      "description": "Quia a debitis fugiat quia et magni. Praesentium placeat fugiat. Vitae rerum ex occaecati eaque excepturi. Ut et neque. Nulla quia error corrupti consectetur fugiat.",
                      "feedback": [],
                      "createdAt": "Mon Jun 20 2022 09:52:01 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-20T09:52:01+01:00",
                      "__v": 0
                    }
                  ],
                  "pageData": {
                    "total": 4,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/users/businesses/search": {
      "get": {
        "description": "",
        "tags": [
          "Admin/Search"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "account": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "isEmailVerified": {
                                "type": "boolean"
                              },
                              "lastLoggedIn": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "isActive": {
                                "type": "boolean"
                              },
                              "isSuperAdmin": {
                                "type": "boolean"
                              },
                              "email": {
                                "type": "string"
                              },
                              "password": {
                                "type": "string"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              },
                              "__v": {
                                "type": "number"
                              }
                            }
                          }
[...]
