{
  "openapi": "3.0.0",
  "info": {
    "title": "atoovis-server",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.otrex.site/"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/buyer/register": {
      "post": {
        "description": "",
        "tags": [
          "Register"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Jedediah_Durgan@yahoo.com",
                "password": "SuTofV0UoORxiA2",
                "firstName": "Marlen",
                "lastName": "Prohaska",
                "gender": "male"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZTA0MTNiOWMyODE4YWZiYWFmYTUiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6IlhqdERxOG10c0FFbEFIcnlka3FTZVFCTnpvV28yRHBJbmtieSIsImlhdCI6MTY1NjE1MjEyOSwiZXhwIjoxNjU2MjM4NTI5fQ.Ui8ncVqkV_fDGmwh48BKEKdFvsacwev0EaXurPPxq78"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/register": {
      "post": {
        "description": "",
        "tags": [
          "Register"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sellerDetails": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      },
                      "phoneNumber": {
                        "type": "string"
                      },
                      "fullName": {
                        "type": "string"
                      }
                    }
                  },
                  "businessDetails": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "cacNumber": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "lga": {
                        "type": "string"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "lat": {
                            "type": "number"
                          },
                          "long": {
                            "type": "number"
                          },
                          "label": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "paymentDetails": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string"
                      },
                      "bank": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "payoutFrequency": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "example": {
                "sellerDetails": {
                  "email": "Kelley81@gmail.com",
                  "password": "me3hSbyvtlAEOhY",
                  "phoneNumber": "+2345678765456",
                  "fullName": "Muhammad Kling"
                },
                "businessDetails": {
                  "type": "Self-enabling composite moratorium",
                  "name": "Down-sized maximized support",
                  "cacNumber": "Vision-oriented static moratorium",
                  "state": "Delaware",
                  "lga": "Mississippi",
                  "address": {
                    "lat": 324.43,
                    "long": 2424.42,
                    "label": "Antigua and Barbuda"
                  }
                },
                "paymentDetails": {
                  "accountNumber": "456789000987",
                  "bank": "Polarised optimizing time-frame",
                  "accountName": "Orpha Mann",
                  "payoutFrequency": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZTA0MTNiOWMyODE4YWZiYWFmYWMiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6IjEzZjFNTVlaVGsxQTFVRWp1blhFNXFDOHJoNFhMTnVkbVU3WSIsImlhdCI6MTY1NjE1MjEyOSwiZXhwIjoxNjU2MjM4NTI5fQ.qUo8yHt6cU2oEgmTY43edWOGoKS6sIU1ZpxGX0bf8sw"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Jedediah_Durgan@yahoo.com",
                "password": "SuTofV0UoORxiA2",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            },
                            "verifiedEmailAt": {
                              "type": "string"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T10:15:31.601Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b6e0413b9c2818afbaafa5",
                      "firstName": "Marlen",
                      "lastName": "Prohaska",
                      "email": "Jedediah_Durgan@yahoo.com",
                      "updatedAt": "2022-06-25T11:15:29+01:00",
                      "createdAt": "2022-06-25T11:15:29+01:00",
                      "__v": 0,
                      "verifiedEmailAt": "2022-06-25T10:15:31.463Z"
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZTA0MTNiOWMyODE4YWZiYWFmYTUiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiI5Rm1zU01zd1hRZ290MXNsbXdOWHl0dXJnbW1ETUNoUlVvZjUiLCJpYXQiOjE2NTYxNTIxMzEsImV4cCI6MTY1NjIzODUzMX0.wIbk3qczPh0Y4T7TQHPjEX2rwQ9IUEW490Qw4jlFiJM"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Jedediah_Durgan@yahoo.com",
                "password": "SuTofV0UoORxiA2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": false,
                      "lastLoggedIn": "2022-06-25T10:15:30.481Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b6e0413b9c2818afbaafa5",
                      "firstName": "Marlen",
                      "lastName": "Prohaska",
                      "email": "Jedediah_Durgan@yahoo.com",
                      "updatedAt": "2022-06-25T11:15:29+01:00",
                      "createdAt": "2022-06-25T11:15:29+01:00",
                      "__v": 0
                    },
                    "type": "email_verification",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZTA0MTNiOWMyODE4YWZiYWFmYTUiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6ImZjcWhTak5QUWxPZTJQTWlNSTZZQWFvaWI3SWRuWWZtdEVOQSIsImlhdCI6MTY1NjE1MjEzMCwiZXhwIjoxNjU2MjM4NTMwfQ.N7c6KqmmxCSYLDDiWtbZn-RRxO-0IQg1yuWJI2CzTH4"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Robin_Mohr@yahoo.com",
                "password": "EZya1SUdr0zGxwC"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T10:15:30.929Z",
                      "type": "admin",
                      "isActive": false,
                      "isSuperAdmin": true,
                      "_id": "62b6e0423b9c2818afbaafbc",
                      "email": "Robin_Mohr@yahoo.com",
                      "updatedAt": "2022-06-25T11:15:30+01:00",
                      "createdAt": "2022-06-25T11:15:30+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZTA0MjNiOWMyODE4YWZiYWFmYmMiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJEU2dBQVFNUkU0NXZocjFsTUN3N2xZMkVjQ2tUNlFET3k5aXkiLCJpYXQiOjE2NTYxNTIxMzAsImV4cCI6MTY1NjIzODUzMH0.kIpKwU0NZ8JYT9RU0rohPGM8I0jYJl6dU7AFUey3vF8"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Kelley81@gmail.com",
                "password": "me3hSbyvtlAEOhY"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T10:15:31.107Z",
                      "type": "business",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b6e0413b9c2818afbaafac",
                      "phoneNumber": "+2345678765456",
                      "firstName": "Muhammad",
                      "lastName": "Kling",
                      "email": "Kelley81@gmail.com",
                      "updatedAt": "2022-06-25T11:15:29+01:00",
                      "createdAt": "2022-06-25T11:15:29+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZTA0MTNiOWMyODE4YWZiYWFmYWMiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJGUEU5OURxb2hpdHVKM0pqTDdDUFczOGNBcXRPQ0RrSFFPMVciLCJpYXQiOjE2NTYxNTIxMzEsImV4cCI6MTY1NjIzODUzMX0.clsp7ZiwuoAyOLmP7TXbzDPVlKP22PPJkqOfkWp4Zgo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify-email": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "account has been verified",
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZTA0MTNiOWMyODE4YWZiYWFmYTUiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJzN1BieXNNaXlpRVV6allqMXprN0FnN05HbXgxNVJrb0lkTTEiLCJpYXQiOjE2NTYxNTIxMzEsImV4cCI6MTY1NjIzODUzMX0.jkYuUZnpDUyHoDXwFssEYw-REGrTrjD5-oshET8U3sY"
                }
              }
            }
          }
        }
      }
    },
    "/v1/forgot-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Jedediah_Durgan@yahoo.com",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "your reset code has been sent to you mail. please continue to reset your password",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI2ZTA0MTNiOWMyODE4YWZiYWFmYTUiLCJmbGFnIjoicGFzc3dvcmRfcmVzZXQiLCJjb3VudGVyIjoiaU1tZUN0SklncjJVemVQTEl0UE02dXMwVnBGWXp6bmUycEZIIiwiaWF0IjoxNjU2MTUyMTMxLCJleHAiOjE2NTYyMzg1MzF9.L2DTdva9n6LzI6lxFyPzjGfeaKa0tZTQ8Y7fKuqcvWg"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reset-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "confirmPassword": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345",
                "confirmPassword": "12345rrr",
                "password": "12345rrr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password reset successful!!"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart": {
      "put": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "quantity": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "productId": "62b6e03f3b9c2818afbaaf68",
                "quantity": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been added to cart successfully",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62b6e0433b9c2818afbaafe0",
                      "createdAt": "Sat Jun 25 2022 11:15:31 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Sat Jun 25 2022 11:15:32 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62b6e03f3b9c2818afbaaf68",
                        "creatorId": "62b6e03f3b9c2818afbaaf65",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "voluptas eos ea",
                        "description": "Numquam maiores laudantium magni consequuntur esse. Quibusdam porro sed rerum eius fugiat distinctio est a. Odio recusandae repellendus expedita consequatur aut quasi eum. Quos aut debitis explicabo. Voluptatibus voluptas voluptatem.",
                        "category": {
                          "_id": "62b6e0142fc6d81877c6f744",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "productId": "62b6e03f3b9c2818afbaaf69"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been successfully removed from cart"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62b6e0433b9c2818afbaafe0",
                      "createdAt": "Sat Jun 25 2022 11:15:31 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Sat Jun 25 2022 11:15:32 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62b6e03f3b9c2818afbaaf68",
                        "creatorId": "62b6e03f3b9c2818afbaaf65",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "voluptas eos ea",
                        "description": "Numquam maiores laudantium magni consequuntur esse. Quibusdam porro sed rerum eius fugiat distinctio est a. Odio recusandae repellendus expedita consequatur aut quasi eum. Quos aut debitis explicabo. Voluptatibus voluptas voluptatem.",
                        "category": {
                          "_id": "62b6e0142fc6d81877c6f744",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart/checkout": {
      "get": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCost": {
                          "type": "number"
                        },
                        "totalDistanceCost": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "totalCost": 0.5,
                    "totalDistanceCost": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/order/stats": {
      "get": {
        "description": "",
        "tags": [
          "Cart/Vendor"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productsSold": {
                          "type": "number"
                        },
                        "cancelledOrders": {
                          "type": "number"
                        },
                        "incompleteOrders": {
                          "type": "number"
                        },
                        "pendingOrders": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "productsSold": 0,
                    "cancelledOrders": 0,
                    "incompleteOrders": 0,
                    "pendingOrders": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/categories": {
      "get": {
        "description": "",
        "tags": [
          "Categories"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "62b6e0142fc6d81877c6f744",
                      "name": "Food",
                      "__v": 0
                    },
                    {
                      "_id": "62b6e0142fc6d81877c6f748",
                      "name": "Phones",
                      "__v": 0
                    },
                    {
                      "_id": "62b6e0142fc6d81877c6f746",
                      "name": "Livestock",
                      "__v": 0
                    },
                    {
                      "_id": "62b6e0142fc6d81877c6f742",
                      "name": "Clothings",
                      "__v": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/admin/categories": {
      "post": {
        "description": "",
        "tags": [
          "Categories/Admin"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "name": "placeat dicta possimus"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "_id": "62b6e0463b9c2818afbab02b",
                    "name": "placeat dicta possimus",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products": {
      "post": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "expiryDate": {
                    "type": "object",
                    "properties": {}
                  },
                  "minimumOrder": {
                    "type": "number"
                  },
                  "handlingFee": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "imageUrl": "http://placeimg.com/640/480",
                "name": "Refined Soft Gloves",
                "categoryId": "62b6e0142fc6d81877c6f744",
                "price": 500,
                "weight": 30,
                "quantity": 10,
                "expiryDate": "2022-06-25T10:15:34.640Z",
                "minimumOrder": 0,
                "handlingFee": 10,
                "description": "Consequuntur aliquam blanditiis suscipit nihil. Voluptatem hic temporibus quaerat rem sunt est. Ea ratione non ipsam ad facilis eum. Aut assumenda ad asperiores error odio dolorem. Corporis voluptatum consectetur consectetur esse provident molestiae harum ad. Quos ex non at excepturi nulla voluptates qui."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {}
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "pending",
                    "_id": "62b6e0463b9c2818afbab031",
                    "name": "Refined Soft Gloves",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-06-25T10:15:34.640Z",
                    "description": "Consequuntur aliquam blanditiis suscipit nihil. Voluptatem hic temporibus quaerat rem sunt est. Ea ratione non ipsam ad facilis eum. Aut assumenda ad asperiores error odio dolorem. Corporis voluptatum consectetur consectetur esse provident molestiae harum ad. Quos ex non at excepturi nulla voluptates qui.",
                    "feedback": [],
                    "createdAt": "Sat Jun 25 2022 11:15:34 GMT+0100 (West Africa Standard Time)",
                    "updatedAt": "2022-06-25T11:15:34+01:00",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "reasonForDisapproval": {}
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "disapproved",
                      "_id": "62b6e0463b9c2818afbab031",
                      "name": "Refined Soft Gloves",
                      "imageUrl": "http://placeimg.com/640/480",
                      "expiryDate": "2022-06-25T10:15:34.640Z",
                      "description": "Consequuntur aliquam blanditiis suscipit nihil. Voluptatem hic temporibus quaerat rem sunt est. Ea ratione non ipsam ad facilis eum. Aut assumenda ad asperiores error odio dolorem. Corporis voluptatum consectetur consectetur esse provident molestiae harum ad. Quos ex non at excepturi nulla voluptates qui.",
                      "feedback": [
                        {
                          "_id": "62b6e0473b9c2818afbab03f",
                          "customerId": "62b6e0403b9c2818afbaaf76",
                          "comment": "Sed aut iste sed labore qui est rerum qui atque. Tempora illum et harum sit adipisci architecto ex in voluptate. Vero vero et est ea aut est aliquam modi impedit. Nam illum velit facilis inventore facere ducimus et. Et incidunt ut. Et sapiente quod id eos nesciunt enim illo et.",
                          "rating": 4,
                          "updatedAt": "2022-06-25T11:15:35+01:00",
                          "createdAt": "2022-06-25T11:15:35+01:00"
                        }
                      ],
                      "createdAt": "Sat Jun 25 2022 11:15:34 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T11:15:35+01:00",
                      "__v": 1,
                      "reasonForDisapproval": null
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/approve": {
      "post": {
        "description": "",
        "tags": [
          "Product/Admin"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/disapprove": {
      "post": {
        "description": "",
        "tags": [
          "Product/Admin"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "reason": "this is because it is the best"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/feedback": {
      "post": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "comment": "Sed aut iste sed labore qui est rerum qui atque. Tempora illum et harum sit adipisci architecto ex in voluptate. Vero vero et est ea aut est aliquam modi impedit. Nam illum velit facilis inventore facere ducimus et. Et incidunt ut. Et sapiente quod id eos nesciunt enim illo et.",
                "rating": 4
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "feedback added successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/like": {
      "post": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been liked successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products/{productId}": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "creatorId": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "customerId": {
                                "type": "string"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "rating": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        },
                        "reasonForDisapproval": {}
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "disapproved",
                    "_id": "62b6e0463b9c2818afbab031",
                    "name": "Refined Soft Gloves",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-06-25T10:15:34.640Z",
                    "description": "Consequuntur aliquam blanditiis suscipit nihil. Voluptatem hic temporibus quaerat rem sunt est. Ea ratione non ipsam ad facilis eum. Aut assumenda ad asperiores error odio dolorem. Corporis voluptatum consectetur consectetur esse provident molestiae harum ad. Quos ex non at excepturi nulla voluptates qui.",
                    "creatorId": "62b6e03f3b9c2818afbaaf70",
                    "feedback": [
                      {
                        "_id": "62b6e0473b9c2818afbab03f",
                        "customerId": "62b6e0403b9c2818afbaaf76",
                        "comment": "Sed aut iste sed labore qui est rerum qui atque. Tempora illum et harum sit adipisci architecto ex in voluptate. Vero vero et est ea aut est aliquam modi impedit. Nam illum velit facilis inventore facere ducimus et. Et incidunt ut. Et sapiente quod id eos nesciunt enim illo et.",
                        "rating": 4,
                        "updatedAt": "2022-06-25T11:15:35+01:00",
                        "createdAt": "2022-06-25T11:15:35+01:00"
                      }
                    ],
                    "createdAt": "Sat Jun 25 2022 11:15:34 GMT+0100 (West Africa Standard Time)",
                    "updatedAt": "2022-06-25T11:15:35+01:00",
                    "__v": 1,
                    "reasonForDisapproval": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6e03f3b9c2818afbaaf69",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "iure consequatur accusantium",
                      "categoryId": "62b6e0142fc6d81877c6f744",
                      "expiryDate": "2022-06-25T10:15:27.706Z",
                      "description": "Ab odit harum mollitia nobis dicta id aut. Est rerum ad quisquam. Voluptas et corrupti voluptas. At non provident aut.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 11:15:27 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T11:15:27+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6e03f3b9c2818afbaaf68",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "voluptas eos ea",
                      "categoryId": "62b6e0142fc6d81877c6f744",
                      "expiryDate": "2022-06-25T10:15:27.705Z",
                      "description": "Numquam maiores laudantium magni consequuntur esse. Quibusdam porro sed rerum eius fugiat distinctio est a. Odio recusandae repellendus expedita consequatur aut quasi eum. Quos aut debitis explicabo. Voluptatibus voluptas voluptatem.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 11:15:27 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T11:15:27+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6e0403b9c2818afbaaf8f",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "eligendi eveniet aut",
                      "categoryId": "62b6e0142fc6d81877c6f744",
                      "expiryDate": "2022-06-25T10:15:28.791Z",
                      "description": "Eum et aut corporis non. Autem qui nesciunt facere id porro natus enim temporibus. Aliquid expedita nesciunt corrupti. Minima dolores ut ut sed qui cupiditate ex.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 11:15:28 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T11:15:28+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6e0403b9c2818afbaaf90",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "officia veritatis delectus",
                      "categoryId": "62b6e0142fc6d81877c6f744",
                      "expiryDate": "2022-06-25T10:15:28.791Z",
                      "description": "Eius consectetur maxime quia omnis labore officia. Quaerat ratione id odio aut vero repellat natus. Repellat nam accusamus.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 11:15:28 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T11:15:28+01:00",
                      "__v": 0
                    }
                  ],
                  "pageData": {
                    "total": 4,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/favorites": {
      "get": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "_id": "62b6e0463b9c2818afbab031",
                      "name": "Refined Soft Gloves",
                      "imageUrl": "http://placeimg.com/640/480",
                      "description": "Consequuntur aliquam blanditiis suscipit nihil. Voluptatem hic temporibus quaerat rem sunt est. Ea ratione non ipsam ad facilis eum. Aut assumenda ad asperiores error odio dolorem. Corporis voluptatum consectetur consectetur esse provident molestiae harum ad. Quos ex non at excepturi nulla voluptates qui.",
                      "feedback": [
                        {
                          "_id": "62b6e0473b9c2818afbab03f",
                          "customerId": "62b6e0403b9c2818afbaaf76",
                          "comment": "Sed aut iste sed labore qui est rerum qui atque. Tempora illum et harum sit adipisci architecto ex in voluptate. Vero vero et est ea aut est aliquam modi impedit. Nam illum velit facilis inventore facere ducimus et. Et incidunt ut. Et sapiente quod id eos nesciunt enim illo et.",
                          "rating": 4,
                          "updatedAt": "2022-06-25T11:15:35+01:00",
                          "createdAt": "2022-06-25T11:15:35+01:00"
                        }
                      ]
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products/feedback": {
      "get": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [],
                  "pageData": {
                    "total": 0,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/categories/{categoryId}/products?page=1&limit=20": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6e03f3b9c2818afbaaf69",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "iure consequatur accusantium",
                      "categoryId": "62b6e0142fc6d81877c6f744",
                      "expiryDate": "2022-06-25T10:15:27.706Z",
                      "description": "Ab odit harum mollitia nobis dicta id aut. Est rerum ad quisquam. Voluptas et corrupti voluptas. At non provident aut.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 11:15:27 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T11:15:27+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6e03f3b9c2818afbaaf68",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "voluptas eos ea",
                      "categoryId": "62b6e0142fc6d81877c6f744",
                      "expiryDate": "2022-06-25T10:15:27.705Z",
                      "description": "Numquam maiores laudantium magni consequuntur esse. Quibusdam porro sed rerum eius fugiat distinctio est a. Odio recusandae repellendus expedita consequatur aut quasi eum. Quos aut debitis explicabo. Voluptatibus voluptas voluptatem.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 11:15:27 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T11:15:27+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6e0403b9c2818afbaaf8f",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "eligendi eveniet aut",
                      "categoryId": "62b6e0142fc6d81877c6f744",
                      "expiryDate": "2022-06-25T10:15:28.791Z",
                      "description": "Eum et aut corporis non. Autem qui nesciunt facere id porro natus enim temporibus. Aliquid expedita nesciunt corrupti. Minima dolores ut ut sed qui cupiditate ex.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 11:15:28 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T11:15:28+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b6e0403b9c2818afbaaf90",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "officia veritatis delectus",
                      "categoryId": "62b6e0142fc6d81877c6f744",
                      "expiryDate": "2022-06-25T10:15:28.791Z",
                      "description": "Eius consectetur maxime quia omnis labore officia. Quaerat ratione id odio aut vero repellat natus. Repellat nam accusamus.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 11:15:28 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T11:15:28+01:00",
                      "__v": 0
                    }
                  ],
                  "pageData": {
                    "total": 4,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/users/businesses/search": {
      "get": {
        "description": "",
        "tags": [
          "Admin/Search"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
[...]
