{
  "openapi": "3.0.0",
  "info": {
    "title": "atoovis-server",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.otrex.site/"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/buyer/register": {
      "post": {
        "description": "",
        "tags": ["Register"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Glenda.Lindgren86@gmail.com",
                "password": "4FTzLhhVXnPov1B",
                "firstName": "Giovanny",
                "lastName": "Beatty",
                "gender": "male"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MmFmYTNkMjQ0MzM5YmViZWQ5N2EiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6IjJxNnVEWFR3WDg2blJ3eGQxOEVCWGVDaUVnbDRJSmxLUEo1MiIsImlhdCI6MTY1NjE3MTI1OCwiZXhwIjoxNjU2MjU3NjU4fQ.cgMoo3p6bTBNlTpROOLeYqWYSeewGEmjCKoVAGWRL-Q"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/register": {
      "post": {
        "description": "",
        "tags": ["Register"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sellerDetails": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      },
                      "phoneNumber": {
                        "type": "string"
                      },
                      "fullName": {
                        "type": "string"
                      }
                    }
                  },
                  "businessDetails": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "cacNumber": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "lga": {
                        "type": "string"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "lat": {
                            "type": "number"
                          },
                          "long": {
                            "type": "number"
                          },
                          "label": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "paymentDetails": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string"
                      },
                      "bank": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "payoutFrequency": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "example": {
                "sellerDetails": {
                  "email": "Arjun_Carter61@hotmail.com",
                  "password": "LE5SzJcphtDvT6y",
                  "phoneNumber": "+2345678765456",
                  "fullName": "Lydia Mante"
                },
                "businessDetails": {
                  "type": "Networked web-enabled methodology",
                  "name": "Grass-roots value-added budgetary management",
                  "cacNumber": "Right-sized tertiary system engine",
                  "state": "Missouri",
                  "lga": "Illinois",
                  "address": {
                    "lat": 324.43,
                    "long": 2424.42,
                    "label": "Macedonia"
                  }
                },
                "paymentDetails": {
                  "accountNumber": "456789000987",
                  "bank": "Realigned human-resource synergy",
                  "accountName": "Leora Sporer",
                  "payoutFrequency": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MmFmYTNkMjQ0MzM5YmViZWQ5ODEiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6ImczM0VlNkZxb1NXZUVwVVJnWlFVRkFBTFh4V1FId0xZb3FUQSIsImlhdCI6MTY1NjE3MTI1OCwiZXhwIjoxNjU2MjU3NjU4fQ.MZL51FgS_EPLC6NEYmZY1fWJhPPtJ_qz1We2Oz3GW1k"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "description": "",
        "tags": ["Login"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Glenda.Lindgren86@gmail.com",
                "password": "4FTzLhhVXnPov1B",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            },
                            "verifiedEmailAt": {
                              "type": "string"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T15:34:19.987Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b72afa3d244339bebed97a",
                      "firstName": "Giovanny",
                      "lastName": "Beatty",
                      "email": "Glenda.Lindgren86@gmail.com",
                      "updatedAt": "2022-06-25T16:34:18+01:00",
                      "createdAt": "2022-06-25T16:34:18+01:00",
                      "__v": 0,
                      "verifiedEmailAt": "2022-06-25T15:34:19.742Z"
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MmFmYTNkMjQ0MzM5YmViZWQ5N2EiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJYaEgwTVRveXU1ejhHOWs2WVJoWUtMT3ExVGxlM3ViUUxIRWgiLCJpYXQiOjE2NTYxNzEyNjAsImV4cCI6MTY1NjI1NzY2MH0.TmszeiwW1gKOBVfBDnEC-9ACZUfIdVdkgvvu4kGfERs"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/login": {
      "post": {
        "description": "",
        "tags": ["Login"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Glenda.Lindgren86@gmail.com",
                "password": "4FTzLhhVXnPov1B"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": false,
                      "lastLoggedIn": "2022-06-25T15:34:19.127Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b72afa3d244339bebed97a",
                      "firstName": "Giovanny",
                      "lastName": "Beatty",
                      "email": "Glenda.Lindgren86@gmail.com",
                      "updatedAt": "2022-06-25T16:34:18+01:00",
                      "createdAt": "2022-06-25T16:34:18+01:00",
                      "__v": 0
                    },
                    "type": "email_verification",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MmFmYTNkMjQ0MzM5YmViZWQ5N2EiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6ImdsbUVscXlJVDR0T2dwUWFhdkt2R05GRWJWQmVaU2JGZlFNcyIsImlhdCI6MTY1NjE3MTI1OSwiZXhwIjoxNjU2MjU3NjU5fQ.g_Es8qtDyiqW2T338z21GST0Dtpu6Zj77zYoYeIWbos"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/login": {
      "post": {
        "description": "",
        "tags": ["Login"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Ericka_Ritchie@gmail.com",
                "password": "U4iVb6JeLJjd2zH"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T15:34:19.371Z",
                      "type": "admin",
                      "isActive": false,
                      "isSuperAdmin": true,
                      "_id": "62b72afb3d244339bebed991",
                      "email": "Ericka_Ritchie@gmail.com",
                      "updatedAt": "2022-06-25T16:34:19+01:00",
                      "createdAt": "2022-06-25T16:34:19+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MmFmYjNkMjQ0MzM5YmViZWQ5OTEiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJ1S3ZxOE1IMTBHWlN4QVQxNzJ0SDdVaU13WVUzWXV0QUVCMFEiLCJpYXQiOjE2NTYxNzEyNTksImV4cCI6MTY1NjI1NzY1OX0.zB3FzoDTJRcjrcIrEbZS7sr0zpmdHq9aEirOkCcFYbk"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/login": {
      "post": {
        "description": "",
        "tags": ["Login"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Arjun_Carter61@hotmail.com",
                "password": "LE5SzJcphtDvT6y"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T15:34:19.509Z",
                      "type": "business",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b72afa3d244339bebed981",
                      "phoneNumber": "+2345678765456",
                      "firstName": "Lydia",
                      "lastName": "Mante",
                      "email": "Arjun_Carter61@hotmail.com",
                      "updatedAt": "2022-06-25T16:34:18+01:00",
                      "createdAt": "2022-06-25T16:34:18+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MmFmYTNkMjQ0MzM5YmViZWQ5ODEiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJWaUZiMnNISDZieFcxWjZWNUo1blFzQ3BkeUFXN1RsZDJSSFMiLCJpYXQiOjE2NTYxNzEyNTksImV4cCI6MTY1NjI1NzY1OX0.PZMbSETvMcpXqJbc_9QYS1CjkXF3wV4zXpA6Do26aPc"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify-email": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "account has been verified",
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MmFmYTNkMjQ0MzM5YmViZWQ5N2EiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJteUowMEJ2dmEyNElCVzVIRnlMSVlwbGVTRjVMdko0S29CbkoiLCJpYXQiOjE2NTYxNzEyNTksImV4cCI6MTY1NjI1NzY1OX0.Fk18v7vUg3E-2Q_AtljGSB943L38E7BKE3DBaHnfHgY"
                }
              }
            }
          }
        }
      }
    },
    "/v1/forgot-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Glenda.Lindgren86@gmail.com",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "your reset code has been sent to you mail. please continue to reset your password",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3MmFmYTNkMjQ0MzM5YmViZWQ5N2EiLCJmbGFnIjoicGFzc3dvcmRfcmVzZXQiLCJjb3VudGVyIjoiZTFiVjRZMGZPc1phZzVoVEt0M1Z5QzZLOFdlTXVrdWQ3blhuIiwiaWF0IjoxNjU2MTcxMjYwLCJleHAiOjE2NTYyNTc2NjB9.-53PWrwF4FUsJevV5OXEeYV84BR7u8oZ3l0TIgKmbsM"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reset-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "confirmPassword": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345",
                "confirmPassword": "12345rrr",
                "password": "12345rrr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password reset successful!!"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart": {
      "put": {
        "description": "",
        "tags": ["Cart/Buyer"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "quantity": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "productId": "62b72af83d244339bebed93d",
                "quantity": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been added to cart successfully",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62b72afc3d244339bebed9b5",
                      "createdAt": "Sat Jun 25 2022 16:34:20 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Sat Jun 25 2022 16:34:20 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62b72af83d244339bebed93d",
                        "creatorId": "62b72af83d244339bebed93a",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "nam enim dolore",
                        "description": "Vero omnis perspiciatis et et. Ex aut totam qui dolor maiores deserunt sunt aut. Modi molestias voluptas ex id in expedita dolorem. Consectetur nulla ea aut. Et ut sunt explicabo.",
                        "category": {
                          "_id": "62b72af73d244339bebed920",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "",
        "tags": ["Cart/Buyer"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "productId": "62b72af83d244339bebed93e"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been successfully removed from cart"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": ["Cart/Buyer"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62b72afc3d244339bebed9b5",
                      "createdAt": "Sat Jun 25 2022 16:34:20 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Sat Jun 25 2022 16:34:20 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62b72af83d244339bebed93d",
                        "creatorId": "62b72af83d244339bebed93a",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "nam enim dolore",
                        "description": "Vero omnis perspiciatis et et. Ex aut totam qui dolor maiores deserunt sunt aut. Modi molestias voluptas ex id in expedita dolorem. Consectetur nulla ea aut. Et ut sunt explicabo.",
                        "category": {
                          "_id": "62b72af73d244339bebed920",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart/checkout": {
      "get": {
        "description": "",
        "tags": ["Cart/Buyer"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCost": {
                          "type": "number"
                        },
                        "totalDistanceCost": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "totalCost": 0.5,
                    "totalDistanceCost": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/order/stats": {
      "get": {
        "description": "",
        "tags": ["Cart/Vendor"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productsSold": {
                          "type": "number"
                        },
                        "cancelledOrders": {
                          "type": "number"
                        },
                        "incompleteOrders": {
                          "type": "number"
                        },
                        "pendingOrders": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "productsSold": 0,
                    "cancelledOrders": 0,
                    "incompleteOrders": 0,
                    "pendingOrders": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/categories": {
      "get": {
        "description": "",
        "tags": ["Categories"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "62b72af73d244339bebed920",
                      "name": "Food",
                      "__v": 0
                    },
                    {
                      "_id": "62b72af73d244339bebed922",
                      "name": "Livestock",
                      "__v": 0
                    },
                    {
                      "_id": "62b72af73d244339bebed924",
                      "name": "Phones",
                      "__v": 0
                    },
                    {
                      "_id": "62b72af73d244339bebed926",
                      "name": "Clothings",
                      "__v": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/admin/categories": {
      "post": {
        "description": "",
        "tags": ["Categories/Admin"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "name": "modi nam enim"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "_id": "62b72afe3d244339bebeda00",
                    "name": "modi nam enim",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products": {
      "post": {
        "description": "",
        "tags": ["Product/Vendor"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "expiryDate": {
                    "type": "object",
                    "properties": {}
                  },
                  "minimumOrder": {
                    "type": "number"
                  },
                  "handlingFee": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "imageUrl": "http://placeimg.com/640/480",
                "name": "Gorgeous Frozen Shoes",
                "categoryId": "62b72af73d244339bebed920",
                "price": 500,
                "weight": 30,
                "quantity": 10,
                "expiryDate": "2022-06-25T15:34:22.765Z",
                "minimumOrder": 0,
                "handlingFee": 10,
                "description": "Consectetur esse a rerum consectetur aut. Est sit nemo quisquam aut consequatur sint recusandae non sed. Officia mollitia voluptatem consequatur voluptatem ex vel id quia. Distinctio inventore quasi sed ad et quia dolorem mollitia mollitia. Culpa esse autem. Officiis rerum ea ratione saepe enim aliquam nemo deserunt libero."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {}
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "pending",
                    "_id": "62b72afe3d244339bebeda06",
                    "name": "Gorgeous Frozen Shoes",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-06-25T15:34:22.765Z",
                    "description": "Consectetur esse a rerum consectetur aut. Est sit nemo quisquam aut consequatur sint recusandae non sed. Officia mollitia voluptatem consequatur voluptatem ex vel id quia. Distinctio inventore quasi sed ad et quia dolorem mollitia mollitia. Culpa esse autem. Officiis rerum ea ratione saepe enim aliquam nemo deserunt libero.",
                    "feedback": [],
                    "createdAt": "Sat Jun 25 2022 16:34:22 GMT+0100 (West Africa Standard Time)",
                    "updatedAt": "2022-06-25T16:34:22+01:00",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": ["Product/Vendor"],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "reasonForDisapproval": {}
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "disapproved",
                      "_id": "62b72afe3d244339bebeda06",
                      "name": "Gorgeous Frozen Shoes",
                      "imageUrl": "http://placeimg.com/640/480",
                      "expiryDate": "2022-06-25T15:34:22.765Z",
                      "description": "Consectetur esse a rerum consectetur aut. Est sit nemo quisquam aut consequatur sint recusandae non sed. Officia mollitia voluptatem consequatur voluptatem ex vel id quia. Distinctio inventore quasi sed ad et quia dolorem mollitia mollitia. Culpa esse autem. Officiis rerum ea ratione saepe enim aliquam nemo deserunt libero.",
                      "feedback": [
                        {
                          "_id": "62b72aff3d244339bebeda14",
                          "customerId": "62b72af93d244339bebed94b",
                          "comment": "Id veritatis aliquam officiis temporibus. Beatae non excepturi quasi dolorem nostrum. Et dignissimos ipsum. Porro animi vel dolores aliquam commodi totam.",
                          "rating": 4,
                          "updatedAt": "2022-06-25T16:34:23+01:00",
                          "createdAt": "2022-06-25T16:34:23+01:00"
                        }
                      ],
                      "createdAt": "Sat Jun 25 2022 16:34:22 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T16:34:23+01:00",
                      "__v": 1,
                      "reasonForDisapproval": null
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/approve": {
      "post": {
        "description": "",
        "tags": ["Product/Admin"],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/disapprove": {
      "post": {
        "description": "",
        "tags": ["Product/Admin"],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "reason": "this is because it is the best"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/feedback": {
      "post": {
        "description": "",
        "tags": ["Product/Buyer"],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "comment": "Id veritatis aliquam officiis temporibus. Beatae non excepturi quasi dolorem nostrum. Et dignissimos ipsum. Porro animi vel dolores aliquam commodi totam.",
                "rating": 4
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "feedback added successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/like": {
      "post": {
        "description": "",
        "tags": ["Product/Buyer"],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been liked successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products/{productId}": {
      "get": {
        "description": "",
        "tags": ["Product"],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "creatorId": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "customerId": {
                                "type": "string"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "rating": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        },
                        "reasonForDisapproval": {}
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "disapproved",
                    "_id": "62b72afe3d244339bebeda06",
                    "name": "Gorgeous Frozen Shoes",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-06-25T15:34:22.765Z",
                    "description": "Consectetur esse a rerum consectetur aut. Est sit nemo quisquam aut consequatur sint recusandae non sed. Officia mollitia voluptatem consequatur voluptatem ex vel id quia. Distinctio inventore quasi sed ad et quia dolorem mollitia mollitia. Culpa esse autem. Officiis rerum ea ratione saepe enim aliquam nemo deserunt libero.",
                    "creatorId": "62b72af93d244339bebed945",
                    "feedback": [
                      {
                        "_id": "62b72aff3d244339bebeda14",
                        "customerId": "62b72af93d244339bebed94b",
                        "comment": "Id veritatis aliquam officiis temporibus. Beatae non excepturi quasi dolorem nostrum. Et dignissimos ipsum. Porro animi vel dolores aliquam commodi totam.",
                        "rating": 4,
                        "updatedAt": "2022-06-25T16:34:23+01:00",
                        "createdAt": "2022-06-25T16:34:23+01:00"
                      }
                    ],
                    "createdAt": "Sat Jun 25 2022 16:34:22 GMT+0100 (West Africa Standard Time)",
                    "updatedAt": "2022-06-25T16:34:23+01:00",
                    "__v": 1,
                    "reasonForDisapproval": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products": {
      "get": {
        "description": "",
        "tags": ["Product"],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b72af83d244339bebed93e",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "alias rerum qui",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T15:34:16.786Z",
                      "description": "Qui aut nostrum dolores voluptas debitis ratione dolores et impedit. Sit et nihil at. Ut temporibus optio ut in aut est quisquam. Ea eveniet quaerat ipsa in fugit. Sunt earum mollitia ut est molestiae omnis neque repellendus saepe. Nihil eaque autem est.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 16:34:16 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T16:34:16+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b72af83d244339bebed93d",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "nam enim dolore",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T15:34:16.786Z",
                      "description": "Vero omnis perspiciatis et et. Ex aut totam qui dolor maiores deserunt sunt aut. Modi molestias voluptas ex id in expedita dolorem. Consectetur nulla ea aut. Et ut sunt explicabo.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 16:34:16 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T16:34:16+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b72af93d244339bebed964",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "aut iusto aut",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T15:34:17.614Z",
                      "description": "Voluptatibus nisi quidem animi quia qui. Ab id accusamus est est a ut esse voluptatum consectetur. Qui quae deleniti quidem cum vel unde.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 16:34:17 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T16:34:17+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b72af93d244339bebed965",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "qui sit deserunt",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T15:34:17.615Z",
                      "description": "Quia illum qui dolor eveniet quod iusto. Et earum tempore et aut quia voluptatum. Quam perferendis optio. Omnis ipsum sed dolore vitae et et itaque cupiditate. Molestiae nihil quasi voluptate esse consequatur. Nihil deleniti veritatis vitae sit enim natus commodi.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 16:34:17 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T16:34:17+01:00",
                      "__v": 0
                    }
                  ],
                  "pageData": {
                    "total": 4,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/favorites": {
      "get": {
        "description": "",
        "tags": ["Product/Buyer"],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "_id": "62b72afe3d244339bebeda06",
                      "name": "Gorgeous Frozen Shoes",
                      "imageUrl": "http://placeimg.com/640/480",
                      "description": "Consectetur esse a rerum consectetur aut. Est sit nemo quisquam aut consequatur sint recusandae non sed. Officia mollitia voluptatem consequatur voluptatem ex vel id quia. Distinctio inventore quasi sed ad et quia dolorem mollitia mollitia. Culpa esse autem. Officiis rerum ea ratione saepe enim aliquam nemo deserunt libero.",
                      "feedback": [
                        {
                          "_id": "62b72aff3d244339bebeda14",
                          "customerId": "62b72af93d244339bebed94b",
                          "comment": "Id veritatis aliquam officiis temporibus. Beatae non excepturi quasi dolorem nostrum. Et dignissimos ipsum. Porro animi vel dolores aliquam commodi totam.",
                          "rating": 4,
                          "updatedAt": "2022-06-25T16:34:23+01:00",
                          "createdAt": "2022-06-25T16:34:23+01:00"
                        }
                      ]
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products/feedback": {
      "get": {
        "description": "",
        "tags": ["Product/Vendor"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [],
                  "pageData": {
                    "total": 0,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/categories/{categoryId}/products?page=1&limit=20": {
      "get": {
        "description": "",
        "tags": ["Product"],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b72af83d244339bebed93e",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "alias rerum qui",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T15:34:16.786Z",
                      "description": "Qui aut nostrum dolores voluptas debitis ratione dolores et impedit. Sit et nihil at. Ut temporibus optio ut in aut est quisquam. Ea eveniet quaerat ipsa in fugit. Sunt earum mollitia ut est molestiae omnis neque repellendus saepe. Nihil eaque autem est.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 16:34:16 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T16:34:16+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b72af83d244339bebed93d",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "nam enim dolore",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T15:34:16.786Z",
                      "description": "Vero omnis perspiciatis et et. Ex aut totam qui dolor maiores deserunt sunt aut. Modi molestias voluptas ex id in expedita dolorem. Consectetur nulla ea aut. Et ut sunt explicabo.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 16:34:16 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T16:34:16+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b72af93d244339bebed964",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "aut iusto aut",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T15:34:17.614Z",
                      "description": "Voluptatibus nisi quidem animi quia qui. Ab id accusamus est est a ut esse voluptatum consectetur. Qui quae deleniti quidem cum vel unde.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 16:34:17 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T16:34:17+01:00",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b72af93d244339bebed965",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "qui sit deserunt",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T15:34:17.615Z",
                      "description": "Quia illum qui dolor eveniet quod iusto. Et earum tempore et aut quia voluptatum. Quam perferendis optio. Omnis ipsum sed dolore vitae et et itaque cupiditate. Molestiae nihil quasi voluptate esse consequatur. Nihil deleniti veritatis vitae sit enim natus commodi.",
                      "feedback": [],
                      "createdAt": "Sat Jun 25 2022 16:34:17 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "2022-06-25T16:34:17+01:00",
                      "__v": 0
                    }
                  ],
                  "pageData": {
                    "total": 4,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/products/stats": {
      "get": {
        "description": "",
        "tags": ["V2/Product/Admin"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "categories": {
                          "type": "object",
                          "properties": {
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
[...]
