{
  "openapi": "3.0.0",
  "info": {
    "title": "atoovis-server",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.otrex.site/"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/buyer/register": {
      "post": {
        "description": "",
        "tags": [
          "Register"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Nya26@gmail.com",
                "password": "YhLqUTTLPf2NLd5",
                "firstName": "Sylvia",
                "lastName": "Douglas",
                "gender": "male"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3ODk2ZWRhNTNiYzY0M2FjZmQ0MjkiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6Img1TkVDbXJTSXdMUWNRcFEwYjU0d0NSRndibzVQWFc1MVcyNyIsImlhdCI6MTY1NjE5NTQzOCwiZXhwIjoxNjU2MjgxODM4fQ.ErtDz2O4EopPpm4uLQHFm_XAF7DoXwmwwSmawhUOttI"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/register": {
      "post": {
        "description": "",
        "tags": [
          "Register"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sellerDetails": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      },
                      "phoneNumber": {
                        "type": "string"
                      },
                      "fullName": {
                        "type": "string"
                      }
                    }
                  },
                  "businessDetails": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "cacNumber": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "lga": {
                        "type": "string"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "lat": {
                            "type": "number"
                          },
                          "long": {
                            "type": "number"
                          },
                          "label": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "paymentDetails": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string"
                      },
                      "bank": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "payoutFrequency": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "example": {
                "sellerDetails": {
                  "email": "Sandra19@gmail.com",
                  "password": "Rt5FN5g11EDfWVK",
                  "phoneNumber": "+2345678765456",
                  "fullName": "Tyshawn Price"
                },
                "businessDetails": {
                  "type": "Devolved explicit support",
                  "name": "User-friendly zero defect encoding",
                  "cacNumber": "Realigned heuristic parallelism",
                  "state": "Tennessee",
                  "lga": "Wyoming",
                  "address": {
                    "lat": 324.43,
                    "long": 2424.42,
                    "label": "New Caledonia"
                  }
                },
                "paymentDetails": {
                  "accountNumber": "456789000987",
                  "bank": "Visionary content-based analyzer",
                  "accountName": "Maia Kunze",
                  "payoutFrequency": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3ODk2ZWRhNTNiYzY0M2FjZmQ0MzAiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6IjVaVkxoTW9mMElPY0xvcWpobzVQY2poTXBRcHhSa1JtSWFtNiIsImlhdCI6MTY1NjE5NTQzOCwiZXhwIjoxNjU2MjgxODM4fQ.40GNBIxpyB-udWmMBdT8fxHYC3X05lf_Ymk31qNUnXI"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Nya26@gmail.com",
                "password": "YhLqUTTLPf2NLd5",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            },
                            "verifiedEmailAt": {
                              "type": "string"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T22:17:19.684Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b7896eda53bc643acfd429",
                      "firstName": "Sylvia",
                      "lastName": "Douglas",
                      "email": "Nya26@gmail.com",
                      "updatedAt": "2022-06-25T23:17:18+01:00",
                      "createdAt": "2022-06-25T23:17:18+01:00",
                      "__v": 0,
                      "verifiedEmailAt": "2022-06-25T22:17:19.547Z"
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3ODk2ZWRhNTNiYzY0M2FjZmQ0MjkiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJIQzEwQkVKNHVwclJYNUIxWDlPTXBiWEJRNmdwOGIxajJ3VWMiLCJpYXQiOjE2NTYxOTU0MzksImV4cCI6MTY1NjI4MTgzOX0.6KRuPnDuIkFzMuY_u3fMF-3mTB1NUbX1RgcfTwmBHhQ"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Nya26@gmail.com",
                "password": "YhLqUTTLPf2NLd5"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": false,
                      "lastLoggedIn": "2022-06-25T22:17:18.856Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b7896eda53bc643acfd429",
                      "firstName": "Sylvia",
                      "lastName": "Douglas",
                      "email": "Nya26@gmail.com",
                      "updatedAt": "2022-06-25T23:17:18+01:00",
                      "createdAt": "2022-06-25T23:17:18+01:00",
                      "__v": 0
                    },
                    "type": "email_verification",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3ODk2ZWRhNTNiYzY0M2FjZmQ0MjkiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6InZDejJBTTdleVJTUzZBT21QeXI5SlBQSmVwSExZR0NPa0p6TiIsImlhdCI6MTY1NjE5NTQzOCwiZXhwIjoxNjU2MjgxODM4fQ.bnGHuZItIF79qkUIxfvoWTHhxeb60QBMvsJ58QmYr3E"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Alta46@hotmail.com",
                "password": "6DYti1D0FYP8oD1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T22:17:19.116Z",
                      "type": "admin",
                      "isActive": false,
                      "isSuperAdmin": true,
                      "_id": "62b7896eda53bc643acfd440",
                      "email": "Alta46@hotmail.com",
                      "updatedAt": "2022-06-25T23:17:18+01:00",
                      "createdAt": "2022-06-25T23:17:18+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3ODk2ZWRhNTNiYzY0M2FjZmQ0NDAiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJoYlBDejZiMlJ5aFZqRFB1a1MzeG1PcDY1ZVdkNFRDS1FJcWsiLCJpYXQiOjE2NTYxOTU0MzksImV4cCI6MTY1NjI4MTgzOX0.n4osS2vh4ct8Otj8B5ojit8NMzViGgIFBLLaozpqS7E"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Sandra19@gmail.com",
                "password": "Rt5FN5g11EDfWVK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-06-25T22:17:19.238Z",
                      "type": "business",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62b7896eda53bc643acfd430",
                      "phoneNumber": "+2345678765456",
                      "firstName": "Tyshawn",
                      "lastName": "Price",
                      "email": "Sandra19@gmail.com",
                      "updatedAt": "2022-06-25T23:17:18+01:00",
                      "createdAt": "2022-06-25T23:17:18+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3ODk2ZWRhNTNiYzY0M2FjZmQ0MzAiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJyb2R2cXByYzlXdVJ3QWdpR29ZSHZiaEExYWJXd012Ykh6REQiLCJpYXQiOjE2NTYxOTU0MzksImV4cCI6MTY1NjI4MTgzOX0.WRfQ0P-hnQ4OjbgNvmW-Mh02BRffmd7ev9M0_D-ypKE"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify-email": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "account has been verified",
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3ODk2ZWRhNTNiYzY0M2FjZmQ0MjkiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiI4TlBBY0RMVzJqdFp0Y2ZxY0ZlQmtiek1EdVBYNkUzVnZPNTYiLCJpYXQiOjE2NTYxOTU0MzksImV4cCI6MTY1NjI4MTgzOX0.vXR4JpNPzu8x8yuze0Oz29QmyA7HWQoYQ6CPhj0moeE"
                }
              }
            }
          }
        }
      }
    },
    "/v1/forgot-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Nya26@gmail.com",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "your reset code has been sent to you mail. please continue to reset your password",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmI3ODk2ZWRhNTNiYzY0M2FjZmQ0MjkiLCJmbGFnIjoicGFzc3dvcmRfcmVzZXQiLCJjb3VudGVyIjoiS3ZMZ0ZrSmJkMFIycE1QS2Y3NzhTNVJqZVB6VkNnd3IzN3ZWIiwiaWF0IjoxNjU2MTk1NDM5LCJleHAiOjE2NTYyODE4Mzl9.hDApk8tOk1KldGpDrOgX5imJ37HMb6GtB1rQXBFgIKo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reset-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "confirmPassword": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345",
                "confirmPassword": "12345rrr",
                "password": "12345rrr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password reset successful!!"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart": {
      "put": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "quantity": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "productId": "62b7896dda53bc643acfd3ec",
                "quantity": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been added to cart successfully",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62b78970da53bc643acfd464",
                      "createdAt": "Sat Jun 25 2022 23:17:20 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Sat Jun 25 2022 23:17:20 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62b7896dda53bc643acfd3ec",
                        "creatorId": "62b7896dda53bc643acfd3e9",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "adipisci omnis officia",
                        "description": "Ut sint inventore dolor. Quia expedita molestiae quia velit quo. Eligendi aliquam sit harum tempora ratione iure reiciendis et aliquid. Atque ullam placeat enim consequuntur culpa velit. Repellat quibusdam voluptatem unde consequuntur voluptas dolores aliquam.",
                        "category": {
                          "_id": "62b72af73d244339bebed920",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "productId": "62b7896dda53bc643acfd3ed"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been successfully removed from cart"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62b78970da53bc643acfd464",
                      "createdAt": "Sat Jun 25 2022 23:17:20 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Sat Jun 25 2022 23:17:20 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62b7896dda53bc643acfd3ec",
                        "creatorId": "62b7896dda53bc643acfd3e9",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "adipisci omnis officia",
                        "description": "Ut sint inventore dolor. Quia expedita molestiae quia velit quo. Eligendi aliquam sit harum tempora ratione iure reiciendis et aliquid. Atque ullam placeat enim consequuntur culpa velit. Repellat quibusdam voluptatem unde consequuntur voluptas dolores aliquam.",
                        "category": {
                          "_id": "62b72af73d244339bebed920",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart/checkout": {
      "get": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCost": {
                          "type": "number"
                        },
                        "totalDistanceCost": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "totalCost": 0.5,
                    "totalDistanceCost": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/order/stats": {
      "get": {
        "description": "",
        "tags": [
          "Cart/Vendor"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productsSold": {
                          "type": "number"
                        },
                        "cancelledOrders": {
                          "type": "number"
                        },
                        "incompleteOrders": {
                          "type": "number"
                        },
                        "pendingOrders": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "productsSold": 0,
                    "cancelledOrders": 0,
                    "incompleteOrders": 0,
                    "pendingOrders": 12
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/categories": {
      "get": {
        "description": "",
        "tags": [
          "Categories"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "62b72af73d244339bebed920",
                      "name": "Food",
                      "__v": 0
                    },
                    {
                      "_id": "62b72af73d244339bebed922",
                      "name": "Livestock",
                      "__v": 0
                    },
                    {
                      "_id": "62b72af73d244339bebed924",
                      "name": "Phones",
                      "__v": 0
                    },
                    {
                      "_id": "62b72af73d244339bebed926",
                      "name": "Clothings",
                      "__v": 0
                    },
                    {
                      "_id": "62b72afe3d244339bebeda00",
                      "name": "modi nam enim",
                      "__v": 0
                    },
                    {
                      "_id": "62b74a2933353c418f48c2c2",
                      "name": "minima soluta nulla",
                      "__v": 0
                    },
                    {
                      "_id": "62b74ad096b6ff422df23e8e",
                      "name": "sunt expedita vitae",
                      "__v": 0
                    },
                    {
                      "_id": "62b74ae3a4abd6425fe737e5",
                      "name": "velit sed et",
                      "__v": 0
                    },
                    {
                      "_id": "62b74b4200a72042ce70c6ea",
                      "name": "dolores eum aliquid",
                      "__v": 0
                    },
                    {
                      "_id": "62b7514bcf458c472e65d85e",
                      "name": "repellat vero sint",
                      "__v": 0
                    },
                    {
                      "_id": "62b7526e175ef1485007fd85",
                      "name": "a architecto hic",
                      "__v": 0
                    },
                    {
                      "_id": "62b752a2401caa48a2c85f87",
                      "name": "earum libero tenetur",
                      "__v": 0
                    },
                    {
                      "_id": "62b752c0c639e048c14f134c",
                      "name": "voluptas voluptatem quae",
                      "__v": 0
                    },
                    {
                      "_id": "62b752d9adf4ec48f7d84909",
                      "name": "et omnis et",
                      "__v": 0
                    },
                    {
                      "_id": "62b767ca505883542bdd966f",
                      "name": "quia est aliquam",
                      "__v": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/admin/categories": {
      "post": {
        "description": "",
        "tags": [
          "Categories/Admin"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "name": "molestias quae cupiditate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "_id": "62b78980da53bc643acfd4af",
                    "name": "molestias quae cupiditate",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products": {
      "post": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "expiryDate": {
                    "type": "object",
                    "properties": {}
                  },
                  "minimumOrder": {
                    "type": "number"
                  },
                  "handlingFee": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "imageUrl": "http://placeimg.com/640/480",
                "name": "Tasty Soft Shirt",
                "categoryId": "62b72af73d244339bebed920",
                "price": 500,
                "weight": 30,
                "quantity": 10,
                "expiryDate": "2022-06-25T22:17:36.418Z",
                "minimumOrder": 0,
                "handlingFee": 10,
                "description": "Iure nemo sunt inventore autem aliquam dignissimos. Nesciunt cupiditate sunt deleniti eum ipsa rerum magnam iure. Voluptatem ad placeat quia eum aut veniam suscipit doloribus. Sapiente nemo aut debitis vitae reprehenderit mollitia et corrupti id. Illo consequatur in voluptatem officia et quia. Qui et cum quae sed."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {}
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "pending",
                    "_id": "62b78980da53bc643acfd4b5",
                    "name": "Tasty Soft Shirt",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-06-25T22:17:36.418Z",
                    "description": "Iure nemo sunt inventore autem aliquam dignissimos. Nesciunt cupiditate sunt deleniti eum ipsa rerum magnam iure. Voluptatem ad placeat quia eum aut veniam suscipit doloribus. Sapiente nemo aut debitis vitae reprehenderit mollitia et corrupti id. Illo consequatur in voluptatem officia et quia. Qui et cum quae sed.",
                    "feedback": [],
                    "createdAt": "2022-06-25T22:17:36.456Z",
                    "updatedAt": "2022-06-25T22:17:36.456Z",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "reasonForDisapproval": {}
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "disapproved",
                      "_id": "62b78980da53bc643acfd4b5",
                      "name": "Tasty Soft Shirt",
                      "imageUrl": "http://placeimg.com/640/480",
                      "expiryDate": "2022-06-25T22:17:36.418Z",
                      "description": "Iure nemo sunt inventore autem aliquam dignissimos. Nesciunt cupiditate sunt deleniti eum ipsa rerum magnam iure. Voluptatem ad placeat quia eum aut veniam suscipit doloribus. Sapiente nemo aut debitis vitae reprehenderit mollitia et corrupti id. Illo consequatur in voluptatem officia et quia. Qui et cum quae sed.",
                      "feedback": [
                        {
                          "_id": "62b78980da53bc643acfd4c3",
                          "customerId": "62b7896dda53bc643acfd3fa",
                          "comment": "Ducimus perferendis quaerat at. Et magni in similique quas ea. Quidem quidem saepe eum occaecati dolor. Quas non quibusdam ipsam tenetur. Consequatur accusantium est quia ipsam modi.",
                          "rating": 4,
                          "updatedAt": "2022-06-25T23:17:36+01:00",
                          "createdAt": "2022-06-25T23:17:36+01:00"
                        }
                      ],
                      "createdAt": "2022-06-25T22:17:36.456Z",
                      "updatedAt": "2022-06-25T22:17:36.633Z",
                      "__v": 1,
                      "reasonForDisapproval": null
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/approve": {
      "post": {
        "description": "",
        "tags": [
          "Product/Admin"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/disapprove": {
      "post": {
        "description": "",
        "tags": [
          "Product/Admin"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "reason": "this is because it is the best"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/feedback": {
      "post": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "comment": "Ducimus perferendis quaerat at. Et magni in similique quas ea. Quidem quidem saepe eum occaecati dolor. Quas non quibusdam ipsam tenetur. Consequatur accusantium est quia ipsam modi.",
                "rating": 4
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "feedback added successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/like": {
      "post": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been liked successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products/{productId}": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "creatorId": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "customerId": {
                                "type": "string"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "rating": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        },
                        "reasonForDisapproval": {}
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "disapproved",
                    "_id": "62b78980da53bc643acfd4b5",
                    "name": "Tasty Soft Shirt",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-06-25T22:17:36.418Z",
                    "description": "Iure nemo sunt inventore autem aliquam dignissimos. Nesciunt cupiditate sunt deleniti eum ipsa rerum magnam iure. Voluptatem ad placeat quia eum aut veniam suscipit doloribus. Sapiente nemo aut debitis vitae reprehenderit mollitia et corrupti id. Illo consequatur in voluptatem officia et quia. Qui et cum quae sed.",
                    "creatorId": "62b7896dda53bc643acfd3f4",
                    "feedback": [
                      {
                        "_id": "62b78980da53bc643acfd4c3",
                        "customerId": "62b7896dda53bc643acfd3fa",
                        "comment": "Ducimus perferendis quaerat at. Et magni in similique quas ea. Quidem quidem saepe eum occaecati dolor. Quas non quibusdam ipsam tenetur. Consequatur accusantium est quia ipsam modi.",
                        "rating": 4,
                        "updatedAt": "2022-06-25T23:17:36+01:00",
                        "createdAt": "2022-06-25T23:17:36+01:00"
                      }
                    ],
                    "createdAt": "2022-06-25T22:17:36.456Z",
                    "updatedAt": "2022-06-25T22:17:36.633Z",
                    "__v": 1,
                    "reasonForDisapproval": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {
                          "type": "number"
                        },
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b72af83d244339bebed93e",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "alias rerum qui",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T15:34:16.786Z",
                      "description": "Qui aut nostrum dolores voluptas debitis ratione dolores et impedit. Sit et nihil at. Ut temporibus optio ut in aut est quisquam. Ea eveniet quaerat ipsa in fugit. Sunt earum mollitia ut est molestiae omnis neque repellendus saepe. Nihil eaque autem est.",
                      "feedback": [],
                      "createdAt": "2022-06-25T15:34:16.000Z",
                      "updatedAt": "2022-06-25T15:34:16.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b72af83d244339bebed93d",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "nam enim dolore",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T15:34:16.786Z",
                      "description": "Vero omnis perspiciatis et et. Ex aut totam qui dolor maiores deserunt sunt aut. Modi molestias voluptas ex id in expedita dolorem. Consectetur nulla ea aut. Et ut sunt explicabo.",
                      "feedback": [],
                      "createdAt": "2022-06-25T15:34:16.000Z",
                      "updatedAt": "2022-06-25T15:34:16.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b72af93d244339bebed964",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "aut iusto aut",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T15:34:17.614Z",
                      "description": "Voluptatibus nisi quidem animi quia qui. Ab id accusamus est est a ut esse voluptatum consectetur. Qui quae deleniti quidem cum vel unde.",
                      "feedback": [],
                      "createdAt": "2022-06-25T15:34:17.000Z",
                      "updatedAt": "2022-06-25T15:34:17.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b72af93d244339bebed965",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "qui sit deserunt",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T15:34:17.615Z",
                      "description": "Quia illum qui dolor eveniet quod iusto. Et earum tempore et aut quia voluptatum. Quam perferendis optio. Omnis ipsum sed dolore vitae et et itaque cupiditate. Molestiae nihil quasi voluptate esse consequatur. Nihil deleniti veritatis vitae sit enim natus commodi.",
                      "feedback": [],
                      "createdAt": "2022-06-25T15:34:17.000Z",
                      "updatedAt": "2022-06-25T15:34:17.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74a2433353c418f48c1ff",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "exercitationem modi nulla",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:47:16.632Z",
                      "description": "Et autem porro quibusdam consequatur. Non assumenda rerum. Ut qui minima sint qui sed atque aspernatur non. Minus rerum voluptatum. Aut ducimus sed.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:47:16.000Z",
                      "updatedAt": "2022-06-25T17:47:16.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74a2433353c418f48c200",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "qui est ratione",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:47:16.633Z",
                      "description": "Aliquid nesciunt possimus et labore libero aut voluptatem temporibus ut. Qui iure et. Consequuntur velit ducimus cum dolorem quas qui. Consectetur dolores qui. Possimus aut saepe excepturi ullam. Deleniti quia est laborum soluta qui voluptatibus ut.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:47:16.000Z",
                      "updatedAt": "2022-06-25T17:47:16.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74a2533353c418f48c227",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "numquam quia et",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:47:17.421Z",
                      "description": "Non sit dolores impedit. Fugit odio sapiente corrupti blanditiis illum. Error quod in aliquid.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:47:17.000Z",
                      "updatedAt": "2022-06-25T17:47:17.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74a2533353c418f48c226",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "error soluta nostrum",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:47:17.421Z",
                      "description": "Perspiciatis sunt distinctio est in. Minus similique velit qui blanditiis dolores omnis molestiae. Saepe temporibus enim unde cum nisi nihil est odit debitis. Et deserunt minus nulla molestias explicabo eum.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:47:17.000Z",
                      "updatedAt": "2022-06-25T17:47:17.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74acb96b6ff422df23dcc",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "necessitatibus officia aut",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:50:03.629Z",
                      "description": "Beatae perferendis quasi odit omnis qui explicabo similique. Vel similique veritatis nisi.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:50:03.000Z",
                      "updatedAt": "2022-06-25T17:50:03.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74acb96b6ff422df23dcb",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "expedita atque nihil",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:50:03.629Z",
                      "description": "Commodi sint autem saepe. Id temporibus nam alias provident. Sit culpa nemo voluptates. Pariatur incidunt similique consequuntur itaque ex qui.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:50:03.000Z",
                      "updatedAt": "2022-06-25T17:50:03.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74acc96b6ff422df23df2",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "quos explicabo facere",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:50:04.629Z",
                      "description": "Debitis ipsa atque laudantium numquam et officiis eligendi a. Illo sed voluptatem quia et. Vel est rerum et inventore ab asperiores ullam molestiae. Dolores est placeat. Perspiciatis pariatur veritatis consequuntur ut.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:50:04.000Z",
                      "updatedAt": "2022-06-25T17:50:04.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74acc96b6ff422df23df3",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "illo ducimus et",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:50:04.629Z",
                      "description": "Iusto iusto eum sed aut dolores incidunt. Sit impedit iusto qui.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:50:04.000Z",
                      "updatedAt": "2022-06-25T17:50:04.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74adfa4abd6425fe73723",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "exercitationem sed quis",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:50:23.211Z",
                      "description": "Quam necessitatibus quae sequi quas cum rerum distinctio. Eaque harum repudiandae aut in occaecati aut sequi nulla. Provident quia repellendus laborum deleniti voluptatem totam et fugit. Cum dolorum doloribus voluptatem voluptatum.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:50:23.000Z",
                      "updatedAt": "2022-06-25T17:50:23.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74adfa4abd6425fe73722",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "perferendis qui vel",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:50:23.210Z",
                      "description": "Laudantium molestias dolores. Hic est praesentium voluptates commodi nostrum aperiam molestiae. Iure dolorum at dicta ab nostrum qui. Labore et incidunt deserunt magnam odio enim voluptatum incidunt sequi. Quae ea et pariatur quia ea molestias cum.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:50:23.000Z",
                      "updatedAt": "2022-06-25T17:50:23.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74ae0a4abd6425fe73749",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "sit soluta quam",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:50:24.363Z",
                      "description": "Voluptatibus aspernatur consequatur odit esse quibusdam quas rem quibusdam numquam. A enim magnam quae dolorum impedit autem consequatur non. Nulla sint explicabo molestiae alias ducimus. Asperiores iste non omnis laboriosam dolor non vitae repudiandae eaque.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:50:24.000Z",
                      "updatedAt": "2022-06-25T17:50:24.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74ae0a4abd6425fe7374a",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "et libero omnis",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:50:24.363Z",
                      "description": "Incidunt voluptas adipisci atque. Ut consequatur optio veniam enim laudantium doloribus non. Iste voluptas consectetur quod eum sed. Debitis nam quo.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:50:24.000Z",
                      "updatedAt": "2022-06-25T17:50:24.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74b3d00a72042ce70c627",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "ut enim harum",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:51:57.307Z",
                      "description": "Maiores nulla et nulla et ipsam sit. Ea molestias non magnam quaerat in eos quia voluptatem. Aut tenetur expedita assumenda et et tempore eos dolorum. Quisquam veniam tempora maxime distinctio consequatur sapiente et consequuntur.",
                      "feedback": [],
                      "createdAt": "2022-06-25T17:51:57.000Z",
                      "updatedAt": "2022-06-25T17:51:57.000Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62b74b3d00a72042ce70c628",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "totam magnam aliquam",
                      "categoryId": "62b72af73d244339bebed920",
                      "expiryDate": "2022-06-25T17:51:57.307Z",
[...]
