{
  "openapi": "3.0.0",
  "info": {
    "title": "atoovis-server",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.otrex.site/"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/buyer/register": {
      "post": {
        "description": "",
        "tags": [
          "Register"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "German.Hilll@yahoo.com",
                "password": "nqarVyUz6ADBcTd",
                "firstName": "Brannon",
                "lastName": "Rodriguez",
                "gender": "male"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNjQ5NGU3NWU2OTUyM2ZjMzVmYzciLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6Ijd5cHcwcEl5VGlxeHRrVlM5dzU1VXQzRjNvQUs5N2kza1hBVCIsImlhdCI6MTY2MDA1MjYyOCwiZXhwIjoxNjYwMTM5MDI4fQ.kpQKogFHkFvgEYCNWoDFC21e7oWZHgBokedkXAz-HQY"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/register": {
      "post": {
        "description": "",
        "tags": [
          "Register"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sellerDetails": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      },
                      "phoneNumber": {
                        "type": "string"
                      },
                      "fullName": {
                        "type": "string"
                      }
                    }
                  },
                  "businessDetails": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "cacNumber": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "lga": {
                        "type": "string"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "lat": {
                            "type": "number"
                          },
                          "long": {
                            "type": "number"
                          },
                          "fullAddress": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "paymentDetails": {
                    "type": "object",
                    "properties": {
                      "accountNumber": {
                        "type": "string"
                      },
                      "bank": {
                        "type": "string"
                      },
                      "accountName": {
                        "type": "string"
                      },
                      "payoutFrequency": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "example": {
                "sellerDetails": {
                  "email": "Florencio25@yahoo.com",
                  "password": "wnwwCpcWicDU0QT",
                  "phoneNumber": "+2345678765456",
                  "fullName": "Ana Hauck"
                },
                "businessDetails": {
                  "type": "Universal 5th generation collaboration",
                  "name": "Ergonomic coherent architecture",
                  "cacNumber": "Compatible maximized standardization",
                  "state": "Connecticut",
                  "lga": "California",
                  "address": {
                    "lat": 324.43,
                    "long": 2424.42,
                    "fullAddress": "Dominican Republic"
                  }
                },
                "paymentDetails": {
                  "accountNumber": "456789000987",
                  "bank": "Up-sized bottom-line superstructure",
                  "accountName": "Clotilde Schamberger",
                  "payoutFrequency": 5
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "proceed to verifying your account",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNjQ5NWU3NWU2OTUyM2ZjMzVmY2UiLCJmbGFnIjoiZW1haWxfdmVyaWZpY2F0aW9uIiwiY291bnRlciI6ImR1emJOZHJFVXU2M2szMW9nb2h6dnViajVaeVJEUXNJZUxqRyIsImlhdCI6MTY2MDA1MjYyOSwiZXhwIjoxNjYwMTM5MDI5fQ.X9XMwdoWZBmq2aouOJ7pdSOqboB09zP0iamObFh6hh8"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "German.Hilll@yahoo.com",
                "password": "nqarVyUz6ADBcTd",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            },
                            "verifiedEmailAt": {
                              "type": "string"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-08-09T13:43:50.171Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62f26494e75e69523fc35fc7",
                      "firstName": "Brannon",
                      "lastName": "Rodriguez",
                      "email": "German.Hilll@yahoo.com",
                      "updatedAt": "2022-08-09T14:43:48+01:00",
                      "createdAt": "2022-08-09T14:43:48+01:00",
                      "__v": 0,
                      "verifiedEmailAt": "2022-08-09T13:43:50.057Z"
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNjQ5NGU3NWU2OTUyM2ZjMzVmYzciLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJzZEphamVXMXdIcnBrUU9ZVlNKQ3c2TEhBRnY1MjdFb3pXRTQiLCJpYXQiOjE2NjAwNTI2MzAsImV4cCI6MTY2MDEzOTAzMH0.AGuDwMV8YeccKVMzJ_4EFb8grZ9H79OQq_zB_1SdKUc"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "German.Hilll@yahoo.com",
                "password": "nqarVyUz6ADBcTd"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": false,
                      "lastLoggedIn": "2022-08-09T13:43:49.520Z",
                      "type": "customer",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62f26494e75e69523fc35fc7",
                      "firstName": "Brannon",
                      "lastName": "Rodriguez",
                      "email": "German.Hilll@yahoo.com",
                      "updatedAt": "2022-08-09T14:43:48+01:00",
                      "createdAt": "2022-08-09T14:43:48+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNjQ5NGU3NWU2OTUyM2ZjMzVmYzciLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJpcVBYQ3ZxaWREZXpjNjJVYU01b2kzb2E0eFNPSHdkR05QTjEiLCJpYXQiOjE2NjAwNTI2MjksImV4cCI6MTY2MDEzOTAyOX0.npjTL7OtsBP1dXNPlshndvM48Jm8Bx9awFuQPXo-vWs"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Brannon53@yahoo.com",
                "password": "IWUh8lHAhwoV4hm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-08-09T13:43:49.761Z",
                      "type": "admin",
                      "isActive": false,
                      "isSuperAdmin": true,
                      "_id": "62f26495e75e69523fc35fde",
                      "email": "Brannon53@yahoo.com",
                      "updatedAt": "2022-08-09T14:43:49+01:00",
                      "createdAt": "2022-08-09T14:43:49+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNjQ5NWU3NWU2OTUyM2ZjMzVmZGUiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJNY3Z2TkJJaldieVdLVkxQMXQ0VW9QdmhxaWFHOFYzNlphQWYiLCJpYXQiOjE2NjAwNTI2MjksImV4cCI6MTY2MDEzOTAyOX0.TP-iJmJkhZKFfpZD4aMOncOnlhb1Q1M7pobZLsFRgTU"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/login": {
      "post": {
        "description": "",
        "tags": [
          "Login"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "Florencio25@yahoo.com",
                "password": "wnwwCpcWicDU0QT"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "object",
                          "properties": {
                            "isEmailVerified": {
                              "type": "boolean"
                            },
                            "lastLoggedIn": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            },
                            "isSuperAdmin": {
                              "type": "boolean"
                            },
                            "_id": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "firstName": {
                              "type": "string"
                            },
                            "lastName": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string"
                            },
                            "__v": {
                              "type": "number"
                            }
                          }
                        },
                        "type": {
                          "type": "string"
                        },
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "account": {
                      "isEmailVerified": true,
                      "lastLoggedIn": "2022-08-09T13:43:49.879Z",
                      "type": "business",
                      "isActive": false,
                      "isSuperAdmin": false,
                      "_id": "62f26495e75e69523fc35fce",
                      "phoneNumber": "+2345678765456",
                      "firstName": "Ana",
                      "lastName": "Hauck",
                      "email": "Florencio25@yahoo.com",
                      "updatedAt": "2022-08-09T14:43:49+01:00",
                      "createdAt": "2022-08-09T14:43:49+01:00",
                      "__v": 0
                    },
                    "type": "auth",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNjQ5NWU3NWU2OTUyM2ZjMzVmY2UiLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJwOXRCamdMWm8yYjJPZU9nM0dBaFhxNE11cFVlS203MUdpUDYiLCJpYXQiOjE2NjAwNTI2MjksImV4cCI6MTY2MDEzOTAyOX0.8kr6uBgsqCzUH0QNlwwPPH41bB3mwb9-pqFwFyfKlDI"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify-email": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "account has been verified",
                  "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNjQ5NGU3NWU2OTUyM2ZjMzVmYzciLCJmbGFnIjoiYXV0aCIsImNvdW50ZXIiOiJqdlhuMEFnMnFEMk9iYzBiSFhmRHZhb1poMk02VHZBZlFUQ0QiLCJpYXQiOjE2NjAwNTI2MzAsImV4cCI6MTY2MDEzOTAzMH0.Tu-hs1G0xF_HCKJJYnT7Ql41h8YVJrABKtZRTMYUhow"
                }
              }
            }
          }
        }
      }
    },
    "/v1/forgot-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "German.Hilll@yahoo.com",
                "type": "customer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "your reset code has been sent to you mail. please continue to reset your password",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiI2MmYyNjQ5NGU3NWU2OTUyM2ZjMzVmYzciLCJmbGFnIjoicGFzc3dvcmRfcmVzZXQiLCJjb3VudGVyIjoiQzV2dXFOb28zMFNaZ3d3a1hPV0xBakluaGxqQTNqQUg3MkhyIiwiaWF0IjoxNjYwMDUyNjMwLCJleHAiOjE2NjAxMzkwMzB9.5Ab4H5mR97wUL0zXVERguZSRI0AYfO08Ga5WUQiHcks"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/reset-password": {
      "post": {
        "description": "",
        "tags": [],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "confirmPassword": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "12345",
                "confirmPassword": "12345rrr",
                "password": "12345rrr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "password reset successful!!"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart": {
      "put": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "quantity": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "productId": "62f26492e75e69523fc35f79",
                "quantity": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been added to cart successfully",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62f26496e75e69523fc36002",
                      "createdAt": "Tue Aug 09 2022 14:43:50 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Tue Aug 09 2022 14:43:50 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62f26492e75e69523fc35f79",
                        "creatorId": "62f26492e75e69523fc35f76",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "asperiores repellat adipisci",
                        "description": "Voluptate id id iste reprehenderit blanditiis velit. Quae maxime fugit mollitia id ab molestiae dolores. Rerum eius ea facilis. Suscipit voluptatem exercitationem. Doloribus rerum perspiciatis sapiente ut quis. Consectetur illum ab illo ut repudiandae aut quod in.",
                        "category": {
                          "_id": "62f2569f2c143443b038fa50",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productId": {
                    "type": "object",
                    "properties": {
                      "_bsontype": {
                        "type": "string"
                      },
                      "id": {
                        "type": "object",
                        "properties": {
                          "0": {
                            "type": "number"
                          },
                          "1": {
                            "type": "number"
                          },
                          "2": {
                            "type": "number"
                          },
                          "3": {
                            "type": "number"
                          },
                          "4": {
                            "type": "number"
                          },
                          "5": {
                            "type": "number"
                          },
                          "6": {
                            "type": "number"
                          },
                          "7": {
                            "type": "number"
                          },
                          "8": {
                            "type": "number"
                          },
                          "9": {
                            "type": "number"
                          },
                          "10": {
                            "type": "number"
                          },
                          "11": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "productId": "62f26492e75e69523fc35f7a"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "item has been successfully removed from cart"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "price": {
                                "type": "number"
                              },
                              "weight": {
                                "type": "number"
                              },
                              "_id": {
                                "type": "string"
                              },
                              "creatorId": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "category": {
                                "type": "object",
                                "properties": {
                                  "_id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "__v": {
                                    "type": "number"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "quantity": 10,
                      "_id": "62f26496e75e69523fc36002",
                      "createdAt": "Tue Aug 09 2022 14:43:50 GMT+0100 (West Africa Standard Time)",
                      "updatedAt": "Tue Aug 09 2022 14:43:50 GMT+0100 (West Africa Standard Time)",
                      "__v": 0,
                      "product": {
                        "price": 0.05,
                        "weight": 20,
                        "_id": "62f26492e75e69523fc35f79",
                        "creatorId": "62f26492e75e69523fc35f76",
                        "imageUrl": "http://placeimg.com/640/480",
                        "name": "asperiores repellat adipisci",
                        "description": "Voluptate id id iste reprehenderit blanditiis velit. Quae maxime fugit mollitia id ab molestiae dolores. Rerum eius ea facilis. Suscipit voluptatem exercitationem. Doloribus rerum perspiciatis sapiente ut quis. Consectetur illum ab illo ut repudiandae aut quod in.",
                        "category": {
                          "_id": "62f2569f2c143443b038fa50",
                          "name": "Food",
                          "__v": 0
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/cart/checkout": {
      "get": {
        "description": "",
        "tags": [
          "Cart/Buyer"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "totalCost": {
                          "type": "number"
                        },
                        "totalDistanceCost": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "totalCost": 0.5,
                    "totalDistanceCost": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/order/stats": {
      "get": {
        "description": "",
        "tags": [
          "Cart/Vendor"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "productsSold": {
                          "type": "number"
                        },
                        "cancelledOrders": {
                          "type": "number"
                        },
                        "incompleteOrders": {
                          "type": "number"
                        },
                        "pendingOrders": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "productsSold": 0,
                    "cancelledOrders": 0,
                    "incompleteOrders": 0,
                    "pendingOrders": 3
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/categories": {
      "get": {
        "description": "",
        "tags": [
          "Categories"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "_id": "62f2569f2c143443b038fa50",
                      "name": "Food",
                      "__v": 0
                    },
                    {
                      "_id": "62f2569f2c143443b038fa52",
                      "name": "Livestock",
                      "__v": 0
                    },
                    {
                      "_id": "62f2569f2c143443b038fa56",
                      "name": "Phones",
                      "__v": 0
                    },
                    {
                      "_id": "62f2569f2c143443b038fa54",
                      "name": "Clothings",
                      "__v": 0
                    },
                    {
                      "_id": "62f256a92c143443b038fb40",
                      "name": "aut quia recusandae",
                      "__v": 0
                    },
                    {
                      "_id": "62f263d8a743485167bab45b",
                      "name": "voluptas ipsum error",
                      "__v": 0
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/info/admin/categories": {
      "post": {
        "description": "",
        "tags": [
          "Categories/Admin"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "name": "nihil rem fugiat"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "_id": "62f26498e75e69523fc3604d",
                    "name": "nihil rem fugiat",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products": {
      "post": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "categoryId": {
                    "type": "string"
                  },
                  "price": {
                    "type": "number"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "expiryDate": {
                    "type": "object",
                    "properties": {}
                  },
                  "minimumOrder": {
                    "type": "number"
                  },
                  "handlingFee": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "imageUrl": "http://placeimg.com/640/480",
                "name": "Unbranded Granite Chips",
                "categoryId": "62f2569f2c143443b038fa50",
                "price": 500,
                "weight": 30,
                "quantity": 10,
                "expiryDate": "2022-08-09T13:43:52.145Z",
                "minimumOrder": 0,
                "handlingFee": 10,
                "description": "Pariatur hic unde omnis ducimus autem et voluptas voluptates eos. Et ab debitis deserunt quidem qui. Dolorem provident corrupti soluta quis nostrum molestiae. Ad a quidem. Rerum fuga vitae rerum harum debitis eaque."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {}
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "pending",
                    "_id": "62f26498e75e69523fc36053",
                    "name": "Unbranded Granite Chips",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-08-09T13:43:52.145Z",
                    "description": "Pariatur hic unde omnis ducimus autem et voluptas voluptates eos. Et ab debitis deserunt quidem qui. Dolorem provident corrupti soluta quis nostrum molestiae. Ad a quidem. Rerum fuga vitae rerum harum debitis eaque.",
                    "feedback": [],
                    "createdAt": "2022-08-09T13:43:52.175Z",
                    "updatedAt": "2022-08-09T13:43:52.175Z",
                    "__v": 0
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          },
                          "reasonForDisapproval": {}
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "weight": 30,
                      "quantityLeft": 10,
                      "quantity": 10,
                      "minimumOrder": 0,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "disapproved",
                      "_id": "62f26498e75e69523fc36053",
                      "name": "Unbranded Granite Chips",
                      "imageUrl": "http://placeimg.com/640/480",
                      "expiryDate": "2022-08-09T13:43:52.145Z",
                      "description": "Pariatur hic unde omnis ducimus autem et voluptas voluptates eos. Et ab debitis deserunt quidem qui. Dolorem provident corrupti soluta quis nostrum molestiae. Ad a quidem. Rerum fuga vitae rerum harum debitis eaque.",
                      "feedback": [
                        {
                          "_id": "62f26498e75e69523fc36061",
                          "customerId": "62f26493e75e69523fc35f87",
                          "comment": "Odit officia voluptatem eum et atque sed omnis aut. Quaerat pariatur amet porro ea sed perferendis quo.",
                          "rating": 4,
                          "updatedAt": "2022-08-09T14:43:52+01:00",
                          "createdAt": "2022-08-09T14:43:52+01:00"
                        }
                      ],
                      "createdAt": "2022-08-09T13:43:52.175Z",
                      "updatedAt": "2022-08-09T13:43:52.315Z",
                      "__v": 1,
                      "reasonForDisapproval": null
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/approve": {
      "post": {
        "description": "",
        "tags": [
          "Product/Admin"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/products/{productId}/disapprove": {
      "post": {
        "description": "",
        "tags": [
          "Product/Admin"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "reason": "this is because it is the best"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been approved"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/feedback": {
      "post": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "number"
                  }
                }
              },
              "example": {
                "comment": "Odit officia voluptatem eum et atque sed omnis aut. Quaerat pariatur amet porro ea sed perferendis quo.",
                "rating": 4
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "feedback added successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/{productId}/like": {
      "post": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "message": "product has been liked successfully"
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products/{productId}": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "price": {
                          "type": "number"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "quantityLeft": {
                          "type": "number"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "minimumOrder": {
                          "type": "number"
                        },
                        "handlingFee": {
                          "type": "number"
                        },
                        "discount": {
                          "type": "number"
                        },
                        "status": {
                          "type": "string"
                        },
                        "_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        },
                        "expiryDate": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "creatorId": {
                          "type": "string"
                        },
                        "feedback": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "customerId": {
                                "type": "string"
                              },
                              "comment": {
                                "type": "string"
                              },
                              "rating": {
                                "type": "number"
                              },
                              "updatedAt": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "createdAt": {
                          "type": "string"
                        },
                        "updatedAt": {
                          "type": "string"
                        },
                        "__v": {
                          "type": "number"
                        },
                        "reasonForDisapproval": {}
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": {
                    "price": 500,
                    "weight": 30,
                    "quantityLeft": 10,
                    "quantity": 10,
                    "minimumOrder": 0,
                    "handlingFee": 10,
                    "discount": 0,
                    "status": "disapproved",
                    "_id": "62f26498e75e69523fc36053",
                    "name": "Unbranded Granite Chips",
                    "imageUrl": "http://placeimg.com/640/480",
                    "expiryDate": "2022-08-09T13:43:52.145Z",
                    "description": "Pariatur hic unde omnis ducimus autem et voluptas voluptates eos. Et ab debitis deserunt quidem qui. Dolorem provident corrupti soluta quis nostrum molestiae. Ad a quidem. Rerum fuga vitae rerum harum debitis eaque.",
                    "creatorId": "62f26493e75e69523fc35f81",
                    "feedback": [
                      {
                        "_id": "62f26498e75e69523fc36061",
                        "customerId": "62f26493e75e69523fc35f87",
                        "comment": "Odit officia voluptatem eum et atque sed omnis aut. Quaerat pariatur amet porro ea sed perferendis quo.",
                        "rating": 4,
                        "updatedAt": "2022-08-09T14:43:52+01:00",
                        "createdAt": "2022-08-09T14:43:52+01:00"
                      }
                    ],
                    "createdAt": "2022-08-09T13:43:52.175Z",
                    "updatedAt": "2022-08-09T13:43:52.315Z",
                    "__v": 1,
                    "reasonForDisapproval": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/public/products": {
      "get": {
        "description": "",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
                          "handlingFee": {
                            "type": "number"
                          },
                          "discount": {
                            "type": "number"
                          },
                          "status": {
                            "type": "string"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "categoryId": {
                            "type": "string"
                          },
                          "expiryDate": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {}
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "__v": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f256a22c143443b038fa6c",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "voluptatem ipsa expedita",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T12:44:18.424Z",
                      "description": "Molestiae dolores ut omnis quaerat qui. Sed aut error doloremque necessitatibus. Dolores dolorum ipsa id. Quisquam mollitia est. Et minima deserunt sapiente dicta velit. Aut laboriosam illo tempora rem assumenda.",
                      "feedback": [],
                      "createdAt": "2022-08-09T12:44:18.436Z",
                      "updatedAt": "2022-08-09T12:44:18.436Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f256a22c143443b038fa6d",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "et minus recusandae",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T12:44:18.425Z",
                      "description": "Repellat rem sit debitis totam ipsam vel id ut esse. Et iusto minima commodi perferendis. Molestiae sed harum aut porro voluptas quia harum tenetur. Eius error iure et alias alias optio. Nostrum sint consequatur est dolorem. Mollitia est earum est quia voluptas fuga expedita facere cumque.",
                      "feedback": [],
                      "createdAt": "2022-08-09T12:44:18.436Z",
                      "updatedAt": "2022-08-09T12:44:18.436Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f256a32c143443b038fa93",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "et nesciunt quia",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T12:44:19.897Z",
                      "description": "Maxime blanditiis eveniet hic. Iste dolorum sequi facilis quo reprehenderit pariatur. Quo sunt beatae velit occaecati molestiae et et aut ipsa. Voluptatibus sunt non ut inventore perferendis maxime distinctio. Occaecati voluptas eos vero ut porro expedita ut repudiandae quasi.",
                      "feedback": [],
                      "createdAt": "2022-08-09T12:44:19.902Z",
                      "updatedAt": "2022-08-09T12:44:19.902Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f256a32c143443b038fa94",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "libero eveniet ea",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T12:44:19.897Z",
                      "description": "Est enim voluptatibus in ducimus repudiandae assumenda est. Deleniti hic quisquam repudiandae eos nostrum dolorum nisi et molestiae. Voluptatibus recusandae officia et explicabo sequi eaque voluptatum.",
                      "feedback": [],
                      "createdAt": "2022-08-09T12:44:19.903Z",
                      "updatedAt": "2022-08-09T12:44:19.903Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f263d2a743485167bab387",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "recusandae corporis et",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T13:40:34.570Z",
                      "description": "Quisquam vel fuga eius nemo sunt est delectus provident in. Nostrum minus cumque dicta.",
                      "feedback": [],
                      "createdAt": "2022-08-09T13:40:34.584Z",
                      "updatedAt": "2022-08-09T13:40:34.584Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f263d2a743485167bab388",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "laudantium sit rerum",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T13:40:34.571Z",
                      "description": "Molestias ut beatae est animi. Quam sed et quia occaecati vero odit possimus consequatur. Fugiat odit voluptates aut incidunt alias et reprehenderit voluptatem. Voluptatem harum esse doloremque porro nam sunt non.",
                      "feedback": [],
                      "createdAt": "2022-08-09T13:40:34.584Z",
                      "updatedAt": "2022-08-09T13:40:34.584Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f263d3a743485167bab3ae",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "quos debitis debitis",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T13:40:35.585Z",
                      "description": "Est fuga molestias deleniti tenetur dolorum. Consequuntur reprehenderit consectetur dicta consequatur incidunt. Sint et nostrum provident ipsum et nihil dicta.",
                      "feedback": [],
                      "createdAt": "2022-08-09T13:40:35.592Z",
                      "updatedAt": "2022-08-09T13:40:35.592Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f263d3a743485167bab3af",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "ipsam voluptas rerum",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T13:40:35.586Z",
                      "description": "Saepe voluptatem fugit reiciendis beatae amet qui. Beatae ut nihil quasi. Dolor et earum distinctio et et eveniet nesciunt et. Ad aliquam est quis incidunt aliquam ipsam pariatur et aspernatur. Molestiae nobis est sunt id laboriosam hic neque.",
                      "feedback": [],
                      "createdAt": "2022-08-09T13:40:35.592Z",
                      "updatedAt": "2022-08-09T13:40:35.592Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f26492e75e69523fc35f79",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "asperiores repellat adipisci",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T13:43:46.932Z",
                      "description": "Voluptate id id iste reprehenderit blanditiis velit. Quae maxime fugit mollitia id ab molestiae dolores. Rerum eius ea facilis. Suscipit voluptatem exercitationem. Doloribus rerum perspiciatis sapiente ut quis. Consectetur illum ab illo ut repudiandae aut quod in.",
                      "feedback": [],
                      "createdAt": "2022-08-09T13:43:46.946Z",
                      "updatedAt": "2022-08-09T13:43:46.946Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f26492e75e69523fc35f7a",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "vero et ut",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T13:43:46.933Z",
                      "description": "Omnis veritatis minima et veniam. Dolorem consequatur quod. Molestiae voluptatum aut dolores ut sed provident odit est perspiciatis.",
                      "feedback": [],
                      "createdAt": "2022-08-09T13:43:46.946Z",
                      "updatedAt": "2022-08-09T13:43:46.946Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f26493e75e69523fc35fa0",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "nesciunt a in",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T13:43:47.936Z",
                      "description": "Molestiae cupiditate quae est aliquid. At nobis exercitationem ullam provident eaque facere commodi aliquid consequatur. Sint in ipsam consequatur excepturi assumenda omnis. Omnis rerum vero et et accusantium asperiores dolore. Perspiciatis totam nam vel sint neque ratione est. Omnis ut velit molestiae.",
                      "feedback": [],
                      "createdAt": "2022-08-09T13:43:47.940Z",
                      "updatedAt": "2022-08-09T13:43:47.940Z",
                      "__v": 0
                    },
                    {
                      "price": 0.05,
                      "weight": 20,
                      "quantityLeft": 50,
                      "quantity": 50,
                      "minimumOrder": 2,
                      "handlingFee": 10,
                      "discount": 0,
                      "status": "approved",
                      "_id": "62f26493e75e69523fc35fa1",
                      "imageUrl": "http://placeimg.com/640/480",
                      "name": "occaecati dolores rem",
                      "categoryId": "62f2569f2c143443b038fa50",
                      "expiryDate": "2022-08-09T13:43:47.936Z",
                      "description": "Voluptate quis culpa. Sapiente dolores sed non magnam suscipit asperiores illo nam. Sed molestias ut dolorem nobis corrupti quis. Libero et cum necessitatibus eum et fugit facilis quisquam.",
                      "feedback": [],
                      "createdAt": "2022-08-09T13:43:47.941Z",
                      "updatedAt": "2022-08-09T13:43:47.941Z",
                      "__v": 0
                    }
                  ],
                  "pageData": {
                    "total": 12,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/buyer/products/favorites": {
      "get": {
        "description": "",
        "tags": [
          "Product/Buyer"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "feedback": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "comment": {
                                  "type": "string"
                                },
                                "rating": {
                                  "type": "number"
                                },
                                "updatedAt": {
                                  "type": "string"
                                },
                                "createdAt": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [
                    {
                      "price": 500,
                      "_id": "62f26498e75e69523fc36053",
                      "name": "Unbranded Granite Chips",
                      "imageUrl": "http://placeimg.com/640/480",
                      "description": "Pariatur hic unde omnis ducimus autem et voluptas voluptates eos. Et ab debitis deserunt quidem qui. Dolorem provident corrupti soluta quis nostrum molestiae. Ad a quidem. Rerum fuga vitae rerum harum debitis eaque.",
                      "feedback": [
                        {
                          "_id": "62f26498e75e69523fc36061",
                          "customerId": "62f26493e75e69523fc35f87",
                          "comment": "Odit officia voluptatem eum et atque sed omnis aut. Quaerat pariatur amet porro ea sed perferendis quo.",
                          "rating": 4,
                          "updatedAt": "2022-08-09T14:43:52+01:00",
                          "createdAt": "2022-08-09T14:43:52+01:00"
                        }
                      ]
                    }
                  ],
                  "pageData": {
                    "total": 1,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vendor/products/feedback": {
      "get": {
        "description": "",
        "tags": [
          "Product/Vendor"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {}
                    },
                    "pageData": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "currentPage": {
                          "type": "number"
                        },
                        "nextPage": {},
                        "prevPage": {},
                        "lastPage": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "data": [],
                  "pageData": {
                    "total": 0,
                    "currentPage": 1,
                    "nextPage": null,
                    "prevPage": null,
                    "lastPage": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/products/feedback": {
      "get": {
        "description": "",
        "tags": [
          "V2/Product/Admin"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "number"
                          },
                          "weight": {
                            "type": "number"
                          },
                          "quantityLeft": {
                            "type": "number"
                          },
                          "quantity": {
                            "type": "number"
                          },
                          "minimumOrder": {
                            "type": "number"
                          },
[...]
